@charset "UTF-8";
/*!
Theme Name: grandline
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
*/
/*!
 * Bootstrap Reboot v4.0.0 (https://getbootstrap.com)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:hover {
  color: #0056b3;
  text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }
@font-face {
  font-family: 'lr';
  src: url("./files/fonts/lr/Lato-Regular.eot");
  src: url("./files/fonts/lr/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("./files/fonts/lr/Lato-Regular.woff") format("woff"), url("./files/fonts/lr/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lb';
  src: url("./files/fonts/lb/Lato-Bold.eot");
  src: url("./files/fonts/lb/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("./files/fonts/lb/Lato-Bold.woff") format("woff"), url("./files/fonts/lb/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lbb';
  src: url("./files/fonts/lbb/Lato-Black.eot");
  src: url("./files/fonts/lbb/Lato-Black.eot?#iefix") format("embedded-opentype"), url("./files/fonts/lbb/Lato-Black.woff") format("woff"), url("./files/fonts/lbb/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  font-family: 'lr', Arial, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #373737;
  font-size: 14px; }

a {
  color: #36201F;
  text-decoration: none; }
a:hover {
  color: #36201F;
  text-decoration: none; }

*::before, *::after {
  max-width: 100%; }

html, body {
  min-height: 100vh !important;
  height: 100% !important; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  background-color: #fff; }

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

ul {
  margin: 0; }

li {
  margin: 0;
  padding: 0; }

img, svg {
  display: block;
  max-height: 100%;
  max-width: 100%; }

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

input {
  max-width: 100%; }

input[type="submit"] {
  padding: 1px 5px; }

.container {
  height: 100%; }

section {
  margin-bottom: 30px; }

.def-title {
  font-size: 25px;
  font-family: 'lb', Arial, sans-serif;
  text-align: center;
  margin-bottom: 35px; }

.def-button {
  width: 244px;
  height: 46px;
  line-height: 44px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'lb', Arial, sans-serif;
  color: #fff;
  text-align: center;
  background-color: #ad0023;
  border: 1px solid #acacac;
  border-radius: 50px;
  cursor: pointer; }
.def-button:hover {
  background-color: #ad0023; }

.def-form {
  border: 4px solid #ACACAC;
  border-radius: 10px;
  background-color: #fff;
  padding: 39px 7px 60px;
  width: 290px;
  margin: 0 auto; }
.def-form P {
  font-size: 16px;
  line-height: 1;
  text-align: center;
  margin-bottom: 45px; }
.def-form P span {
  color: #ad0023;
  font-size: 16px;
  line-height: 1;
  font-family: 'lb', Arial, sans-serif; }
.def-form input {
  width: 245px;
  height: 40px;
  font-size: 16px;
  margin: 0 auto 18px;
  border-radius: 30px;
  padding: 0 0 0 25px;
  border: 1px solid #ACACAC;
  outline: none;
  display: block; }
.def-form input:nth-child(3) {
  margin-bottom: 18px; }
.def-form input[type="submit"] {
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
  line-height: 38px; }
.def-form.submitted {
  position: relative; }
.def-form.submitted::before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
  background-image: url("./files/imgs/submitted.png");
  background-position: center 60%;
  background-repeat: no-repeat; }
.def-form.submitted::after {
  content: 'Заявка успешно отправлена!';
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  color: #000;
  font-size: 22px;
  font-family: 'lb', Arial, sans-serif; }

@media screen and (min-width: 768px) {
  .def-title {
    font-size: 38px;
    margin-bottom: 50px; }
  .def-button {
    width: 345px;
    line-height: 62px;
    height: 64px;
    font-size: 22px; }
  .def-form {
    width: 505px;
    padding: 60px 68px 60px;
    background-color: #F9F9F9; }
  .def-form p {
    font-size: 18px;
    margin-bottom: 50px; }
  .def-form p span {
    font-size: 18px; }
  .def-form input {
    height: 56px;
    padding-left: 57px;
    width: 424px;
    font-size: 16px;
    margin-bottom: 16px; }
  .def-form input:nth-child(3) {
    margin-bottom: 16px; }
  .def-form input[type="submit"] {
    margin-bottom: 0; } }

@media screen and (min-width: 1200px) {
  .def-title {
    font-size: 45px;
    margin-bottom: 70px; }
  .def-form {
    max-width: 100%; }
  .def-form p {
    font-size: 22px; }
  .def-form p span {
    font-size: 22px; }
  .def-form input[type="submit"] {
    font-size: 22px; } }

@media screen and (min-width: 1200px) {
  .goods__item-cont, .goods-popup-content {
    overflow-y: scroll;
    scrollbar-color: #5C5C5C transparent; }
  .goods__item-cont::-webkit-scrollbar-button, .goods-popup-content::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 5px;
    height: 0px; }
  .goods__item-cont::-webkit-scrollbar-track, .goods-popup-content::-webkit-scrollbar-track {
    background-color: transparent; }
  .goods__item-cont::-webkit-scrollbar-thumb, .goods-popup-content::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #5C5C5C; }
  .goods__item-cont::-webkit-scrollbar-thumb:hover, .goods-popup-content::-webkit-scrollbar-thumb:hover {
    background-color: #4B4B4B; }
  .goods__item-cont::-webkit-resizer, .goods-popup-content::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px; }
  .goods__item-cont::-webkit-scrollbar, .goods-popup-content::-webkit-scrollbar {
    width: 5px; } }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .goods .container {
    max-width: 500px; } }

.header-top {
  background-color: #2D2D2D; }
.header-top .row {
  height: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.header-top__address {
  display: none; }
.header-top__phone a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.header-top__phone a svg {
  margin-right: 10px; }
.header-top__phone a span {
  font-size: 18px;
  color: #fff;
  font-family: 'lb', Arial, sans-serif; }
.header-top__mail {
  display: none; }

.header-bot {
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.21); }
.header-bot__logo {
  height: 80px;
  padding: 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.header-bot__nav {
  display: none; }
.header-bot__button {
  display: none; }
.header-bot__button .gray-button {
  cursor: pointer; }
.header-bot__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.header-bot__burger .inner {
  width: 45px;
  height: 30px;
  position: relative;
  cursor: pointer; }
.header-bot__burger .inner .line {
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #2D2D2D;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.header-bot__burger .inner .line::before {
  display: block;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 40px;
  height: 2px;
  background-color: #2D2D2D;
  position: absolute;
  top: -10px;
  left: 0; }
.header-bot__burger .inner .line::after {
  display: block;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 40px;
  height: 2px;
  background-color: #2D2D2D;
  position: absolute;
  top: 10px;
  left: 0; }

.header.burger-opened .header-bot__nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 2;
  padding-bottom: 20px; }
.header.burger-opened .header-bot__nav nav {
  border-bottom: 1px solid #B7B7B7;
  margin-bottom: 15px; }
.header.burger-opened .header-bot__nav nav ul {
  list-style: none;
  padding-left: 0;
  padding-top: 10px; }
.header.burger-opened .header-bot__nav nav ul li {
  margin-bottom: 10px; }
.header.burger-opened .header-bot__nav nav ul li a {
  font-size: 20px;
  padding: 5px;
  text-transform: uppercase;
  display: block;
  letter-spacing: 1px;
  color: #373737; }
.header.burger-opened .header-bot__nav-soc a {
  display: inline-block;
  max-width: 43px;
  margin-right: 30px; }
.header.burger-opened .header-bot__nav-soc a:last-child {
  margin-right: 0; }

.header.burger-opened .header-bot__burger .inner .line {
  background-color: transparent; }
.header.burger-opened .header-bot__burger .inner .line::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0; }
.header.burger-opened .header-bot__burger .inner .line::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media screen and (min-width: 768px) {
  .header .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-top__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-top__address svg {
    margin-right: 10px; }
  .header-top__address span {
    color: #fff;
    font-size: 18px;
    font-family: 'lb', Arial, sans-serif; }
  .header-bot__button {
    display: block; }
  .header-bot__button .gray-button {
    width: 210px;
    height: 37px;
    background: #E8E8E8;
    color: #373737;
    border-radius: 50px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 37px;
    text-align: center; } }

@media screen and (min-width: 1200px) {
  .header-top__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header-top__mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .header-top__mail a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-top__mail a svg {
    margin-right: 10px; }
  .header-top__mail a span {
    color: #fff;
    font-size: 18px;
    font-family: 'lb', Arial, sans-serif; }
  .header-bot__nav {
    display: block; }
  .header-bot__nav nav {
    border-bottom: none; }
  .header-bot__nav nav ul {
    padding-left: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header-bot__nav nav ul li a {
    font-size: 16px;
    color: #373737;
    padding: 5px;
    font-family: 'lb', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .header-bot__nav-soc {
    display: none; }
  .header-bot__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .header-bot__burger {
    display: none; } }

.main .first-screen {
  margin-bottom: 50px;
  position: relative;
  background-repeat: no-repeat;
  background-position: left center; }
.main .first-screen .mobile-button .gray-button {
  width: 170px;
  height: 25px;
  background: #E8E8E8;
  color: #373737;
  border-radius: 50px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 29px;
  text-align: center;
  margin: 0 auto 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 6px;
  z-index: 2; }
.main .first-screen__title h1 {
  font-size: 32px;
  color: #fff;
  font-family: 'lb', Arial, sans-serif;
  margin-bottom: 25px;
  text-align: center; }
.main .first-screen__list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 15px; }
.main .first-screen__list li {
  color: #fff;
  font-size: 16px;
  font-family: 'lb', Arial, sans-serif;
  margin-bottom: 20px;
  position: relative;
  padding-left: 50px;
  min-height: 34px; }
.main .first-screen__list li:last-child {
  margin-bottom: 0; }
.main .first-screen__list li svg {
  position: absolute; }
.main .first-screen__list li svg.svg1 {
  left: 0;
  top: 0; }
.main .first-screen__list li svg.svg2 {
  left: 3px;
  top: 0; }
.main .first-screen__list li svg.svg3 {
  left: 5px;
  top: 0; }
.main .first-screen__list li svg.svg4 {
  left: 0;
  top: 0; }
.main .first-screen__list li span {
  color: #fff;
  font-size: 16px;
  font-family: 'lb', Arial, sans-serif; }
.main .first-screen__form {
  padding: 0;
  position: absolute;
  top: calc(100% - 70px);
  left: 0; }

.main .sliderus__top .item {
  min-height: 185px;
  width: 100%;
  position: relative;
  overflow: hidden; }
.main .sliderus__top .item img {
  max-width: none;
  max-height: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.main .sliderus__top .owl-nav button {
  width: 60px;
  height: 100px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  outline: none; }
.main .sliderus__top .owl-nav button span {
  display: none; }

.main .sliderus__top .owl-next {
  right: 0; }
.main .sliderus__top .owl-next:before {
  display: block;
  content: '\203a';
  color: #fff;
  font-size: 76px; }

.main .sliderus__top .owl-prev:before {
  display: block;
  content: '\2039';
  color: #fff;
  font-size: 76px; }

.main .goods-content {
  list-style: none;
  padding-left: 15px; }

.main .goods__item {
  margin-bottom: 15px; }
.main .goods__item:first-child {
  border-top: 1px solid #B7B7B7; }
.main .goods__item-title {
  border-bottom: 1px solid #B7B7B7;
  font-size: 14px;
  font-family: 'lr', Arial, sans-serif;
  padding-top: 15px;
  padding-bottom: 10px;
  position: relative;
  padding-right: 40px;
  cursor: pointer; }
.main .goods__item-title::before {
  display: block;
  content: '';
  width: 13px;
  height: 1px;
  background-color: #373737;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg); }
.main .goods__item-title::after {
  display: block;
  content: '';
  width: 13px;
  height: 1px;
  background-color: #373737;
  position: absolute;
  right: 9px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg); }
.main .goods__item-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transition: all .7s;
  transition: all .7s;
  overflow: hidden;
  max-height: 0;
  border-bottom: 1px solid transparent; }
.main .goods__item-cont__item {
  width: 50%;
  min-width: 50%;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer; }
.main .goods__item-cont__item img {
  border: 2px solid #B7B7B7;
  margin-bottom: 10px; }
.main .goods__item-cont__item span {
  font-size: 14px;
  font-family: 'lb', Arial, sans-serif; }
.main .goods__item-cont__item .field__carts-scheme,
.main .goods__item-cont__item .field__carts-text,
.main .goods__item-cont__item .field__carts-subtext,
.main .goods__item-cont__item .item-popup-wrap__title,
.main .goods__item-cont__item .item-popup-wrap__img {
  display: none; }
.main .goods__item.opened .goods__item-title {
  border-bottom: 1px solid #ad0023; }
.main .goods__item.opened .goods__item-title::before {
  right: 9px; }
.main .goods__item.opened .goods__item-title::after {
  right: 0; }
.main .goods__item.opened .goods__item-cont {
  padding-top: 20px;
  padding-bottom: 10px;
  max-height: 5000px;
  border-bottom: 1px solid #B7B7B7; }

.main .callback {
  background-image: url("./files/imgs/second.jpg");
  padding: 46px 0;
  background-position: center;
  background-size: cover;
  margin-bottom: 60px; }

.main .callback_first {
  background-image: url("./files/imgs/first.jpg"); }

.main .gallery-wrap .gallery-wrap-hide {
  display: none; }

.main .gallery-wrap .gallery-troika__item .padding .img {
  display: block;
  height: 0;
  padding-top: 60%;
  overflow: hidden;
  position: relative; }
.main .gallery-wrap .gallery-troika__item .padding .img img {
  max-width: 105%;
  max-height: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.main .products {
  margin-bottom: 50px; }
.main .products__item {
  position: relative;
  max-width: 280px;
  margin: 0 auto 30px;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.main .products__item svg {
  margin-bottom: 15px; }
.main .products__item h6 {
  text-align: center;
  max-width: 200px;
  font-size: 25px;
  font-family: 'lr', Arial, sans-serif;
  margin-bottom: 10px; }
.main .products__item span {
  display: block;
  text-align: center;
  font-size: 18px;
  font-family: 'lr', Arial, sans-serif;
  color: #5C5C5C;
  border-bottom: 1px solid #5C5C5C;
  cursor: pointer; }
.main .products__item-popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 11;
  display: none;
  overflow-y: scroll; }
.main .products__item-popup__background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); }
.main .products__item-popup__inner {
  width: 800px;
  height: 500px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #F0F0F0;
  padding: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 50px; }
.main .products__item-popup__inner ul {
  list-style: none;
  margin-bottom: 30px; }
.main .products__item-popup__inner ul li {
  font-size: 18px; }
.main .products__item-popup__inner-title {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'lb', Arial, sans-serif;
  min-width: 100%; }
.main .products__item-popup__inner::before {
  display: none;
  content: '';
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #ad0023;
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
  background-color: #fff; }
.main .products__item-popup__inner::after {
  display: none;
  content: 'Х';
  position: absolute;
  right: -16px;
  top: -10px;
  width: 40px;
  height: 40px;
  color: #ad0023;
  text-align: center;
  line-height: 32px;
  font-size: 24px; }
.main .products__item::before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #F0F0F0;
  z-index: -1; }

.main .about {
  margin-bottom: 75px; }
.main .about__text {
  margin-bottom: 35px; }
.main .about__text p {
  font-size: 16px;
  font-family: 'lr', Arial, sans-serif;
  margin-bottom: 30px; }
.main .about__text p:last-child {
  margin-bottom: 0; }
.main .about__text p span {
  font-size: inherit;
  font-family: inherit;
  color: #ad0023; }
.main .about__logo {
  margin-bottom: 50px; }
.main .about__logo-imgs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px; }
.main .about__logo-imgs img {
  width: 100%;
  margin-bottom: 30px; }
.main .about__logo-imgs img:last-child {
  margin-bottom: 0; }
.main .about__logo-text p {
  font-size: 16px;
  font-family: 'lr', Arial, sans-serif;
  margin-bottom: 30px; }
.main .about__logo-text p:last-child {
  margin-bottom: 0; }
.main .about__logo-text p span {
  font-size: inherit;
  font-family: inherit;
  color: #ad0023; }
.main .about__item {
  margin-bottom: 70px; }
.main .about__item:last-child {
  margin-bottom: 0; }
.main .about__item:last-child .about__item-title {
  height: 57px;
  line-height: 57px;
  font-size: 72px;
  font-family: 'lr', Arial, sans-serif; }
.main .about__item-title {
  display: block;
  font-size: 38px;
  font-family: 'lb', Arial, sans-serif;
  color: #ad0023;
  margin-bottom: 10px;
  text-align: center; }
.main .about__item-title sup {
  font-family: inherit;
  font-size: inherit;
  color: inherit; }
.main .about__item-text {
  display: block;
  max-width: 270px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  font-family: 'lb', Arial, sans-serif; }

.main .faces {
  margin-bottom: 70px; }
.main .faces-title {
  margin-bottom: 10px; }
.main .faces__subtitle {
  font-size: 16px;
  color: #ad0023;
  margin-bottom: 20px;
  text-align: center; }
.main .faces-item {
  margin: 0 auto 20px;
  max-width: 430px; }
.main .faces-item:last-child {
  margin-bottom: 0; }
.main .faces-item__img {
  margin-bottom: 5px; }
.main .faces-item__img img {
  margin: 0 auto; }
.main .faces-item__name {
  font-size: 16px; }
.main .faces-item__position {
  font-size: 16px;
  color: #ad0023; }
.main .faces-comment {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding-left: 45px; }
.main .faces-comment > svg {
  position: absolute;
  left: 15px;
  top: 0; }
.main .faces-comment p {
  line-height: 29px; }
.main .faces-comment p svg {
  display: inline; }
.main .faces-comment span {
  display: block;
  text-align: right;
  color: #414141; }

.main .review {
  margin-bottom: 70px; }
.main .review .def-title {
  margin-bottom: 25px; }
.main .review-slide {
  width: 100%;
  max-width: 960px;
  position: relative;
  margin: 0 auto; }
.main .review .owl-carousel .item {
  height: 205px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.main .review .owl-carousel .item img {
  width: auto !important;
  border: 2px solid #B7B7B7; }
.main .review .popup {
  position: absolute;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.main .review .owl-dots {
  padding-top: 15px;
  text-align: center; }
.main .review .owl-dots .owl-dot {
  outline: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 14px;
  background-color: #C4C4C4; }
.main .review .owl-dots .owl-dot.active {
  background-color: #ad0023; }
.main .review .owl-dots .owl-dot:last-child {
  margin-right: 0; }

.main .stock {
  margin-bottom: 75px; }
.main .stock .def-title {
  margin-bottom: 20px; }
.main .stock__item {
  margin-bottom: 40px; }
.main .stock__item:last-child {
  margin-bottom: 0; }
.main .stock__item-img {
  margin: 0 auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 400px; }
.main .stock__item-text p {
  font-size: 25px;
  text-align: center; }

.footer {
  position: relative; }
.footer-map {
  margin-bottom: 50px; }
.footer-contacts {
  margin-bottom: 30px; }
.footer-contacts .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: static; }
.footer-contacts__inner {
  background-color: #fff;
  padding: 25px 14px 35px;
  border: 2px solid #ad0023;
  border-radius: 10px; }
.footer-contacts__inner-title {
  font-size: 25px;
  font-family: 'lb', Arial, sans-serif;
  margin-bottom: 35px; }
.footer-contacts__inner-text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }
.footer-contacts__inner-text p svg {
  margin-right: 10px; }
.footer-contacts__inner-text p span {
  font-size: 16px;
  color: #414141; }
.footer-contacts__inner-times {
  margin-bottom: 15px; }
.footer-contacts__inner-times p:first-child {
  margin-bottom: 5px; }
.footer-contacts__inner-times p:first-child span {
  font-size: 18px; }
.footer-contacts__inner-times p:not(:first-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 25px;
  position: relative;
  background-image: url("./files/imgs/icons/time-r.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px;
  margin-bottom: 10px; }
.footer-contacts__inner-times p:not(:first-child) span {
  font-size: 16px; }
.footer-contacts__inner-times p:last-child {
  margin-bottom: 0; }
.footer-contacts__inner-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.footer-contacts__inner-soc a:first-child {
  margin-right: 15px; }
.footer #up {
  display: none;
  width: 30px;
  height: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 3px #b7b7b7;
  box-shadow: 0px 0px 5px 3px #b7b7b7;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  background-image: url("./files/imgs/icons/arrow-left.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  padding: 5px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: 10;
  cursor: pointer; }
.footer #up.on {
  display: block; }
.footer .form-popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 111;
  display: none; }
.footer .form-popup__back {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85); }
.footer .form-popup__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#goods-popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 111;
  display: none; }
#goods-popup .goods-popup-content {
  max-width: 100%;
  max-height: calc(100vh - 50px);
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px 50px 20px;
  overflow-y: scroll; }
#goods-popup .goods-popup-content__exit {
  position: absolute;
  right: 50px;
  top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 2px #404343;
  box-shadow: 0px 0px 5px 2px #404343; }
#goods-popup .goods-popup-content__exit::before {
  display: block;
  content: '';
  width: 25px;
  height: 3px;
  background-color: #404343;
  position: absolute;
  left: 3px;
  top: 14px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
#goods-popup .goods-popup-content__exit::after {
  display: block;
  content: '';
  width: 25px;
  height: 3px;
  background-color: #404343;
  position: absolute;
  left: 3px;
  top: 14px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
#goods-popup .goods-popup-content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
#goods-popup .goods-popup-content__top .left-side {
  min-width: 400px;
  width: 400px; }
#goods-popup .goods-popup-content__top .left-side__scheme {
  margin: 0 auto; }
#goods-popup .goods-popup-content__top .right-side__title {
  display: block;
  font-size: 28px;
  font-family: 'lb', Arial, sans-serif;
  margin-bottom: 20px; }
#goods-popup .goods-popup-content__top .right-side__text {
  font-size: 18px;
  display: block;
  margin-bottom: 30px; }
#goods-popup .goods-popup-content__top .right-side__addictions {
  font-size: 20px;
  display: block;
  font-family: 'lb', Arial, sans-serif; }
#goods-popup .goods-popup-content__top .right-side__subtext {
  font-size: 18px;
  display: block; }
#goods-popup .goods-popup-content__bottom-title {
  text-align: center;
  font-size: 24px;
  font-family: 'lb', Arial, sans-serif;
  margin-bottom: 20px; }
#goods-popup .goods-popup-content__bottom .item-popup-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
#goods-popup .goods-popup-content__bottom .item-popup-wrap .cycle-colors__wrap {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px; }
#goods-popup .goods-popup-content__bottom .item-popup-wrap .cycle-colors__wrap .item-popup-wrap__img {
  margin-bottom: 15px; }
#goods-popup .goods-popup-content__bottom .item-popup-wrap .cycle-colors__wrap .item-popup-wrap__title {
  font-size: 16px;
  text-align: center; }

@media screen and (min-width: 768px) {
  .footer-contacts__inner {
    padding: 35px 100px 20px 100px; }
  .footer-contacts__inner-title {
    font-size: 40px;
    margin-bottom: 30px; }
  .footer-contacts__inner-text p span, .footer-contacts__inner-text p a {
    font-size: 18px; }
  .footer-contacts__inner-times p:first-child span {
    font-size: 24px; }
  .footer-contacts__inner-times p:not(:first-child) span {
    font-size: 18px; }
  .footer #up {
    bottom: 20px;
    right: 20px;
    width: 35px;
    height: 35px; } }

@media screen and (min-width: 1200px) {
  .footer-map {
    margin-bottom: 0; }
  .footer-map iframe {
    height: 600px !important; }
  .footer-contacts {
    position: absolute;
    left: 50%;
    top: calc(50% + 20px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .footer #up {
    bottom: 20px;
    right: 50px;
    width: 45px;
    height: 45px; }
  #goods-popup .goods-popup-content__top form.def-form {
    border: none;
    position: absolute;
    top: 160px;
    right: 0;
    background: none; }
  #goods-popup .goods-popup-content__top form.def-form input {
    height: 40px;
    width: 245px;
    font-size: 16px;
    border-color: #000; }
  #goods-popup .goods-popup-content__top form.def-form input.def-button {
    border: none; }
  #goods-popup .goods-popup-content__top form.submitted:before {
    height: 200px;
    width: 260px;
    left: 125px;
    top: 55px; }
  #goods-popup .goods-popup-content__top form.submitted:after {
    top: 58px;
    font-size: 20px; } }

@media screen and (min-width: 600px) and (max-width: 767.98px) {
  .main .sliderus__top .item {
    height: 250px; } }

@media screen and (min-width: 768px) {
  .main .first-screen {
    margin-bottom: 80px; }
  .main .first-screen .mobile-button {
    display: none; }
  .main .first-screen__title h1 {
    font-size: 40px; }
  .main .first-screen__list {
    margin-bottom: 0; }
  .main .first-screen__list li {
    min-height: 35px; }
  .main .first-screen__list li:last-child {
    margin-bottom: 0; }
  .main .first-screen__list li span {
    font-size: 22px;
    margin-bottom: 30px; }
  .main .first-screen__form {
    top: calc(100% - 130px); }
  .main .sliderus__top .item {
    min-height: 397px; }
  .main .goods__item-title {
    font-size: 18px; }
  .main .goods__item-cont__item span {
    font-size: 18px; }
  .main .callback {
    padding: 40px 0;
    margin-bottom: 110px; }
  .main .products {
    margin-bottom: 70px; }
  .main .products__item {
    width: 370px;
    max-width: 370px; }
  .main .about__text p {
    font-size: 22px; }
  .main .about__logo-imgs {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main .about__logo-imgs img {
    width: calc(50% - 10px); }
  .main .about__logo-text p {
    font-size: 22px; }
  .main .about__item-title {
    font-size: 50px; }
  .main .about__item-text {
    font-size: 25px; }
  .main .about__item:last-child .about__item-title {
    height: 75px;
    line-height: 75px;
    font-size: 90px; }
  .main .faces__subtitle {
    font-size: 30px;
    margin-bottom: 30px; }
  .main .faces-item__img {
    margin-bottom: 10px; }
  .main .faces-item__name {
    font-size: 28px; }
  .main .faces-item__position {
    font-size: 20px; }
  .main .faces-comment {
    max-width: 690px;
    padding-left: 55px; }
  .main .faces-comment > svg {
    top: 8px; }
  .main .faces-comment p {
    font-size: 25px;
    line-height: 45px; }
  .main .faces-comment p > svg {
    margin-left: 10px; }
  .main .faces-comment span {
    font-size: 30px; }
  .main .review {
    margin-bottom: 100px;
    padding: 0 90px; }
  .main .review .owl-carousel .item {
    height: 327px; }
  .main .review .owl-nav {
    position: absolute;
    z-index: -1;
    width: calc(100% + 140px);
    height: 55px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main .review .owl-nav .owl-prev,
  .main .review .owl-nav .owl-next {
    background-image: url("./files/imgs/icons/arrow-left.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 69px;
    height: 55px;
    cursor: pointer;
    outline: none; }
  .main .review .owl-nav .owl-next {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1); }
  .main .stock__item-text p {
    font-size: 30px; } }

@media screen and (min-width: 1200px) {
  .main .first-screen {
    background-size: cover;
    margin-bottom: 80px; }
  .main .first-screen__title h1 {
    text-align: left;
    font-size: 50px;
    margin-bottom: 110px; }
  .main .first-screen__list li {
    margin-bottom: 35px; }
  .main .first-screen__list li:last-child {
    margin-bottom: 0; }
  .main .first-screen__form {
    position: static; }
  .main .sliderus__top .item {
    height: 630px; }
  .main .goods {
    margin-bottom: 70px; }
  .main .goods-content {
    max-width: 440px;
    width: 440px;
    position: relative;
    min-height: 536px; }
  .main .goods__item {
    border-top: none !important; }
  .main .goods__item-title {
    border-bottom: 1px solid transparent;
    padding-right: 0; }
  .main .goods__item-title::after, .main .goods__item-title::before {
    display: none; }
  .main .goods__item-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: calc(400px + 50px);
    top: 0;
    width: 690px;
    height: 536px;
    min-height: 520px;
    padding-top: 0;
    border-bottom: none;
    background-color: white;
    overflow-y: scroll; }
  .main .goods__item-cont__item {
    padding-top: 0; }
  .main .goods__item-cont__item span {
    font-family: 'lr', Arial, sans-serif; }
  .main .goods__item.opened .goods__item-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    z-index: 1; }
  .main .callback {
    padding: 44px 0;
    margin-bottom: 150px; }
  .main .callback form.def-form {
    margin-right: 0; }
  .main .callback.last form.def-form {
    margin-left: 0; }
  .main .gallery-wrap .gallery-troika {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 450px;
    margin-bottom: 30px; }
  .main .gallery-wrap .gallery-troika:nth-child(odd) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .main .gallery-wrap .gallery-troika:nth-child(odd) .gallery-troika__item .padding {
    height: 100%; }
  .main .gallery-wrap .gallery-troika:nth-child(odd) .gallery-troika__item .padding .img {
    padding: 0;
    height: 100%; }
  .main .gallery-wrap .gallery-troika:nth-child(odd) .gallery-troika__item:nth-child(1) {
    height: 450px;
    width: 670px;
    margin-right: 30px;
    margin-bottom: 0; }
  .main .gallery-wrap .gallery-troika:nth-child(odd) .gallery-troika__item:nth-child(1) .img img {
    max-width: 150%; }
  .main .gallery-wrap .gallery-troika:nth-child(odd) .gallery-troika__item:nth-child(2) {
    width: 410px;
    height: 210px;
    margin-bottom: 30px; }
  .main .gallery-wrap .gallery-troika:nth-child(odd) .gallery-troika__item:nth-child(3) {
    width: 410px;
    height: 210px;
    margin-bottom: 0; }
  .main .gallery-wrap .gallery-troika:nth-child(odd) .gallery-troika__item:last-child {
    margin-bottom: 0 !important; }
  .main .gallery-wrap .gallery-troika:nth-child(even) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .main .gallery-wrap .gallery-troika:nth-child(even) .gallery-troika__item .padding {
    height: 100%; }
  .main .gallery-wrap .gallery-troika:nth-child(even) .gallery-troika__item .padding .img {
    padding: 0;
    height: 100%; }
  .main .gallery-wrap .gallery-troika:nth-child(even) .gallery-troika__item:nth-child(3) {
    height: 450px;
    width: 670px;
    margin-left: 30px; }
  .main .gallery-wrap .gallery-troika:nth-child(even) .gallery-troika__item:nth-child(3) .img img {
    max-width: 150%; }
  .main .gallery-wrap .gallery-troika:nth-child(even) .gallery-troika__item:nth-child(2) {
    width: 410px;
    height: 210px;
    margin-bottom: 0; }
  .main .gallery-wrap .gallery-troika:nth-child(even) .gallery-troika__item:nth-child(1) {
    width: 410px;
    height: 210px;
    margin-bottom: 30px; }
  .main .gallery-wrap .gallery-troika.first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .main .gallery-wrap .gallery-troika.first .gallery-troika__item .padding {
    height: 100%; }
  .main .gallery-wrap .gallery-troika.first .gallery-troika__item .padding .img {
    padding: 0;
    height: 100%; }
  .main .gallery-wrap .gallery-troika.first .gallery-troika__item:nth-child(3) {
    height: 450px;
    width: 670px;
    margin-left: 0; }
  .main .gallery-wrap .gallery-troika.first .gallery-troika__item:nth-child(3) .img img {
    max-width: 150%; }
  .main .gallery-wrap .gallery-troika.first .gallery-troika__item:nth-child(2) {
    width: 410px;
    height: 210px;
    margin-bottom: 0; }
  .main .gallery-wrap .gallery-troika.first .gallery-troika__item:nth-child(1) {
    width: 410px;
    height: 210px;
    margin-bottom: 30px; }
  .main .products {
    margin-bottom: 100px; }
  .main .products__item {
    margin: 0 0 30px; }
  .main .products__item::before {
    left: 15px;
    right: 15px; }
  .main .products__item:nth-child(5), .main .products__item:nth-child(6) {
    max-width: 570px;
    width: 570px; }
  .main .products__item-popup {
    overflow-y: auto; }
  .main .about {
    margin-bottom: 100px; }
  .main .about__text {
    margin-bottom: 90px; }
  .main .about__logo {
    margin-bottom: 90px; }
  .main .about__item-text {
    max-width: none;
    font-size: 24px; }
  .main .faces-item {
    margin-bottom: 50px; }
  .main .faces-comment {
    max-width: 1000px; }
  .main .stock {
    margin-bottom: 150px; }
  .main .stock__item {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .main .stock__item-img img {
    max-width: 100%; }
  .main .stock__item-text {
    -ms-flex-item-align: end;
    align-self: flex-end; } }
