#for-new-styles{

  .first-screen__text{
    margin-bottom: 25px;

    h1{
      color: #fff;
      margin-bottom: 25px;
      font-size: 18px;
      text-align: center;
      padding-top: 15px;
    }
  }

  .goods{

    &-content{

      .goods__item{

        &-cont{

          &__item{

            .field__carts-button{
              display: none;

            }
          }
        }
      }
    }
  }

  #goods-popup{

    .goods-popup-content{

      &__top{

      }

      &__bottom{

        .item-popup-wrap{

        }
      }
    }
  }

  .stock{

    &__item{
      padding-top: 15px;
      cursor: pointer;

      &:hover{
        background-color: rgb(173, 0, 35);
        
        p{
          color: #fff;
        }
      }

      &-content{
        display: none;
      }
    }
  }

  .stocks__popup{
    display: none;
    position: fixed;
    z-index: 111;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &-back{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(black, 0.7);
      cursor: pointer;
    }

    &-cont{
      width: 500px;
      max-width: calc(100% - 30px);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &__exit{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        box-shadow: rgb(64, 67, 67) 0px 0px 5px 2px;
        border-radius: 50%;

        &::before{
          display: block;
          content: "";
          width: 25px;
          height: 3px;
          background-color: rgb(64, 67, 67);
          position: absolute;
          left: 3px;
          top: 14px;
          transform: rotate(45deg);
        }

        &::after{
          display: block;
          content: "";
          width: 25px;
          height: 3px;
          background-color: rgb(64, 67, 67);
          position: absolute;
          left: 3px;
          top: 14px;
          transform: rotate(-45deg);
        }
      }

      &__wrap{
        padding: 30px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title{
          font-size: 24px;
          margin-bottom: 15px;
          text-align: center;
          line-height: 1.2;
        }

        &-img{
          width: 440px;
          max-width: 100%;
          margin-bottom: 10px;
        }

        &-text{
          width: 100%;

          *{
            font-size: 16px;
          }
        }
      }
    }
  }

  .callback__form.min{
    border: 4px solid #ACACAC;
    border-radius: 10px;
    background-color: #fff;
    padding: 29px 7px 60px;
    width: 290px;
    margin: 0 auto;

    p{
      font-size: 18px;
      margin-bottom: 15px;
      text-align: center;

      span{
        font-size: inherit;
        color: #ad0023;
        font-weight: 600;
      }
    }

    .def-button{
      width: 290px;
      max-width: 100%;
    }
  }

  .form-popup__back{
    background-color: rgba(black, 0.7);
  }

}


@media screen
and (min-width: 768px){

  #for-new-styles{

    .first-screen__text{

      h1{
        font-size: 28px;
      }
    }

    .callback__form.min{
      margin-left: auto;
      margin-right: 0;
      width: 505px;
      padding: 40px 68px 40px;
      background-color: #F9F9F9;

      p{
        font-size: 22px;
        margin-bottom: 15px;

        span{
          font-size: inherit;
          color: #ad0023;
        }
      }

      .def-button{
        width: 290px;
        max-width: 100%;
      }
    }

  }

}


@media screen
and (min-width: 1200px){

  #for-new-styles{

    .first-screen__text{

      h1{
        font-size: 38px;
        text-align: left;
      }
    }

    .goods{

      &-content{

        .goods__item{

          &-cont{

            &__item{

              .field__carts-button{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 125px;
                height: 30px;
                margin: -50px 15px 15px auto;
                background: rgb(173, 0, 35);
                color: #fff;
                border-radius: 25px;
                cursor: pointer;
                line-height: 30px;

                &:hover{
                  background-color: #e6748b;
                }
              }
            }
          }
        }
      }
    }

    #goods-popup{

      .goods-popup-content{

        &__top{

        }

        &__bottom{

          .item-popup-wrap{
            margin-bottom: 5px;
            justify-content: center;

            .cycle-colors__wrap{
              width: 5%;
              padding: 0 5px 25px;
              cursor: pointer;
              position: relative;
              margin-bottom: 0;

              img{
                margin-bottom: 0;
              }

              .item-popup-wrap__title{
                display: none;

              }

              &:hover{

                .item-popup-wrap__title{
                  padding-top: 5px;
                  width: 200px;
                  display: block;
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  line-height: 1;
                }
              }
            }
          }

          .goods-popup__color-picked{
            display: flex;
            justify-content: center;
            overflow: hidden;

            img{
              width: 500px;
            }
          }
        }
      }
    }

    .callback__form.min{
      display: flex;
      align-items: center;

      p{
        margin-right: 20px;
      }

      .def-button{
        min-width: 290px;
      }
    }
  }

}