<footer class="footer">
  <div class="footer-map">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Adcbfb5c2af9c57e83edcdb657ac6b6054f3af462895086a681b322e8cb204257&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
  </div>
  <div class="footer-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer-contacts__inner">
            <h6 class="footer-contacts__inner-title">Контакты</h6>
            <div class="footer-contacts__inner-text">
              <p>
                <svg width="18" height="25" viewBox="0 0 18 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 0C4.0374 0 0 3.94277 0 8.78906C0 10.4265 0.46445 12.0244 1.34345 13.4107L8.4877 24.6538C8.62455 24.8691 8.86565 25 9.12495 25C9.12695 25 9.1289 25 9.1309 25C9.39245 24.998 9.63405 24.8631 9.7684 24.6439L16.7306 13.292C17.5611 11.935 18 10.3779 18 8.78906C18 3.94277 13.9626 0 9 0ZM15.4433 12.5399L9.1136 22.8606L2.61835 12.639C1.8867 11.4851 1.49 10.1538 1.49 8.78906C1.49 4.75049 4.8645 1.45508 9 1.45508C13.1355 1.45508 16.505 4.75049 16.505 8.78906C16.505 10.1133 16.1345 11.4105 15.4433 12.5399Z" fill="#ad0023"/>
                  <path d="M9 4.39453C6.5187 4.39453 4.5 6.36592 4.5 8.78906C4.5 11.1967 6.48585 13.1836 9 13.1836C11.5452 13.1836 13.5 11.1703 13.5 8.78906C13.5 6.36592 11.4813 4.39453 9 4.39453ZM9 11.7285C7.33715 11.7285 5.99 10.4085 5.99 8.78906C5.99 7.17363 7.3458 5.84961 9 5.84961C10.6542 5.84961 12.005 7.17363 12.005 8.78906C12.005 10.3849 10.6892 11.7285 9 11.7285Z" fill="#ad0023"/>
                </svg>
                <span>г. Пенза, ул. Перспективная, 7</span>
              </p>
              <p>
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.6781 12.5181C17.2197 12.043 16.6669 11.789 16.0809 11.789C15.4997 11.789 14.9421 12.0383 14.4648 12.5134L12.9716 13.9953C12.8488 13.9294 12.7259 13.8683 12.6078 13.8071C12.4377 13.7224 12.277 13.6425 12.14 13.5578C10.7413 12.6734 9.47015 11.5208 8.251 10.0296C7.66034 9.28629 7.26341 8.66062 6.97516 8.02554C7.36264 7.67271 7.72177 7.30578 8.07144 6.95296C8.20375 6.82124 8.33606 6.68481 8.46837 6.55309C9.46069 5.56519 9.46069 4.28562 8.46837 3.29771L7.17835 2.01344C7.03186 1.86761 6.88065 1.71707 6.73889 1.56653C6.45537 1.27487 6.15767 0.97379 5.85053 0.691532C5.39217 0.239919 4.84403 0 4.26753 0C3.69104 0 3.13345 0.239919 2.66092 0.691532C2.65619 0.696236 2.65619 0.696237 2.65146 0.700941L1.04485 2.31452C0.44 2.91667 0.0950497 3.65054 0.0194441 4.50202C-0.0939643 5.87567 0.312416 7.15524 0.624289 7.99261C1.3898 10.0484 2.53333 11.9536 4.23918 13.9953C6.30889 16.4556 8.79914 18.3985 11.6438 19.7675C12.7306 20.2802 14.1813 20.8871 15.8021 20.9906C15.9013 20.9953 16.0053 21 16.0998 21C17.1914 21 18.1081 20.6095 18.8263 19.8333C18.8311 19.8239 18.8405 19.8192 18.8452 19.8098C19.091 19.5134 19.3745 19.2453 19.6722 18.9583C19.8754 18.7655 20.0833 18.5632 20.2865 18.3515C20.7543 17.8669 21 17.3024 21 16.7238C21 16.1405 20.7496 15.5806 20.2723 15.1102L17.6781 12.5181ZM19.3698 17.4718C19.365 17.4718 19.365 17.4765 19.3698 17.4718C19.1855 17.6694 18.9965 17.8481 18.7933 18.0457C18.4861 18.3374 18.1742 18.6431 17.8813 18.9866C17.404 19.4946 16.8417 19.7345 16.1045 19.7345C16.0337 19.7345 15.9581 19.7345 15.8872 19.7298C14.4837 19.6405 13.1795 19.0948 12.2014 18.629C9.52685 17.3401 7.17835 15.5101 5.22678 13.1909C3.61544 11.2574 2.53806 9.46976 1.82453 7.5504C1.38507 6.37903 1.22441 5.4664 1.29529 4.60551C1.34254 4.05511 1.55518 3.59879 1.94739 3.20833L3.55873 1.60417C3.79027 1.38777 4.03599 1.27016 4.27699 1.27016C4.57468 1.27016 4.81567 1.44892 4.96689 1.59946C4.97161 1.60417 4.97634 1.60887 4.98106 1.61358C5.26931 1.88172 5.54338 2.15927 5.83162 2.45565C5.97811 2.60618 6.12932 2.75672 6.28053 2.91196L7.57055 4.19624C8.07144 4.69489 8.07144 5.15591 7.57055 5.65457C7.43352 5.79099 7.30121 5.92742 7.16417 6.05914C6.76724 6.46371 6.38922 6.84005 5.97811 7.20699C5.96866 7.2164 5.95921 7.2211 5.95448 7.23051C5.5481 7.63508 5.62371 8.03024 5.70877 8.29839C5.71349 8.3125 5.71822 8.32661 5.72294 8.34072C6.05844 9.14987 6.53098 9.91196 7.24923 10.8199L7.25396 10.8246C8.55815 12.4241 9.93323 13.6707 11.4501 14.6257C11.6438 14.748 11.8423 14.8468 12.0313 14.9409C12.2014 15.0255 12.3621 15.1055 12.4991 15.1902C12.518 15.1996 12.5369 15.2137 12.5558 15.2231C12.7165 15.3031 12.8677 15.3407 13.0236 15.3407C13.4158 15.3407 13.6615 15.0961 13.7419 15.0161L15.3579 13.4073C15.5186 13.2473 15.7738 13.0544 16.0715 13.0544C16.3644 13.0544 16.6054 13.2379 16.7519 13.3978C16.7566 13.4026 16.7566 13.4026 16.7614 13.4073L19.365 15.9993C19.8517 16.4792 19.8517 16.9731 19.3698 17.4718Z" fill="#ad0023"/>
                </svg>
                <span><a href="tel:+78412380088">8(841-2)38-00-88</a></span>
              </p>
            </div>
            <div class="footer-contacts__inner-times">
              <p><span>График работы:</span></p>
              <p><span>Пн-Пт:</span><span>9.00-17.00</span></p>
              <p><span>Сб:</span><span>9.00-15.00</span></p>
              <p><span>Вс:</span><span>Выходной</span></p>
            </div>
            <div class="footer-contacts__inner-soc">
              <a href="#">
                <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="21.5" cy="21.5" r="21.5" fill="#ad0023"/>
                  <path d="M26.5261 10.2822H16.4737C13.06 10.2822 10.2827 13.0597 10.2827 16.4734V26.5257C10.2827 29.9396 13.06 32.7169 16.4737 32.7169H26.5261C29.9401 32.7169 32.7174 29.9395 32.7174 26.5257V16.4734C32.7175 13.0597 29.9401 10.2822 26.5261 10.2822ZM30.727 26.5257C30.727 28.842 28.8425 30.7264 26.5262 30.7264H16.4737C14.1576 30.7265 12.2732 28.842 12.2732 26.5257V16.4734C12.2732 14.1572 14.1576 12.2727 16.4737 12.2727H26.5261C28.8424 12.2727 30.7269 14.1572 30.7269 16.4734V26.5257H30.727Z" fill="white"/>
                  <path d="M21.4998 15.7188C18.3122 15.7188 15.719 18.312 15.719 21.4996C15.719 24.6871 18.3122 27.2802 21.4998 27.2802C24.6874 27.2802 27.2807 24.6871 27.2807 21.4996C27.2807 18.312 24.6874 15.7188 21.4998 15.7188ZM21.4998 25.2895C19.4099 25.2895 17.7095 23.5894 17.7095 21.4995C17.7095 19.4094 19.4098 17.7091 21.4998 17.7091C23.5899 17.7091 25.2902 19.4094 25.2902 21.4995C25.2902 23.5894 23.5897 25.2895 21.4998 25.2895Z" fill="white"/>
                  <path d="M27.5232 14.0303C27.1397 14.0303 26.7629 14.1855 26.4921 14.4576C26.2199 14.7283 26.0635 15.1051 26.0635 15.49C26.0635 15.8736 26.2201 16.2504 26.4921 16.5224C26.7628 16.7931 27.1397 16.9497 27.5232 16.9497C27.908 16.9497 28.2836 16.7931 28.5556 16.5224C28.8276 16.2504 28.9829 15.8735 28.9829 15.49C28.9829 15.1051 28.8276 14.7283 28.5556 14.4576C28.2849 14.1855 27.908 14.0303 27.5232 14.0303Z" fill="white"/>
                </svg>
              </a>
              <a href="#">
                <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="21.5" cy="21.5" r="21.5" fill="#ad0023"/>
                  <path d="M34.7559 26.269C34.1468 25.5538 33.4588 24.9152 32.7933 24.2976C32.5594 24.0805 32.3175 23.856 32.0845 23.6332C32.0845 23.6331 32.0844 23.6331 32.0843 23.633C31.771 23.3335 31.6176 23.1209 31.6016 22.9639C31.5858 22.8096 31.6934 22.5806 31.941 22.2422C32.3112 21.7331 32.7058 21.2232 33.0875 20.7301C33.4268 20.2917 33.7775 19.8384 34.1138 19.3826L34.1892 19.2802C34.8452 18.3906 35.5234 17.4706 35.8869 16.3496C35.9907 16.0282 36.0985 15.5526 35.8385 15.135C35.5784 14.7174 35.0962 14.5936 34.7564 14.5369C34.5904 14.509 34.4329 14.5067 34.2864 14.5067L30.0313 14.503C29.2957 14.491 28.7853 14.8327 28.5072 15.5188C28.2846 16.0668 28.0217 16.7018 27.7171 17.3043C27.1344 18.4673 26.394 19.8068 25.3208 20.9228L25.2731 20.9725C25.2001 21.049 25.0807 21.1739 25.0194 21.2026C24.9031 21.131 24.769 20.7215 24.7751 20.507C24.7753 20.5017 24.7753 20.4965 24.7753 20.4912L24.7716 15.6736C24.7716 15.6491 24.7698 15.6246 24.7665 15.6004C24.671 14.9131 24.485 14.224 23.3748 14.0094C23.3392 14.0025 23.303 13.999 23.2668 13.999H18.8407C18.0079 13.999 17.5675 14.3727 17.2144 14.7778C17.1121 14.8959 16.8406 15.2095 16.9789 15.5929C17.1189 15.9808 17.5361 16.0582 17.673 16.0836C18.1554 16.1733 18.4048 16.4404 18.482 16.9511C18.6347 17.9434 18.6534 19.0049 18.541 20.2901C18.5096 20.6351 18.4513 20.8974 18.3573 21.1155C18.3312 21.1758 18.3084 21.2133 18.2924 21.2353C18.2669 21.2252 18.2273 21.2059 18.1724 21.1691C17.8334 20.9418 17.578 20.5885 17.331 20.247C16.3443 18.882 15.5143 17.3743 14.7934 15.6373C14.4965 14.9255 13.9383 14.528 13.2228 14.5177C11.8596 14.4955 10.5987 14.496 9.36956 14.5194C8.78982 14.5293 8.38327 14.7081 8.16102 15.051C7.93849 15.3945 7.94664 15.8325 8.1853 16.3531C9.89134 20.0704 11.4404 22.7746 13.2079 25.1214C14.4525 26.7736 15.7052 27.9204 17.1505 28.7307C18.6689 29.5819 20.3814 29.9991 22.3681 29.999C22.594 29.999 22.8239 29.9936 23.0568 29.9827C24.2825 29.928 24.7812 29.4503 24.8356 28.2805C24.8662 27.6623 24.9364 27.1615 25.18 26.7264C25.2482 26.6046 25.325 26.5229 25.3856 26.508C25.4501 26.4922 25.5643 26.5308 25.6913 26.6117C25.9236 26.7595 26.1236 26.9599 26.288 27.1358C26.4547 27.3146 26.6232 27.4994 26.7862 27.678C27.1331 28.0583 27.4918 28.4515 27.8676 28.8267C28.7176 29.6757 29.6975 30.065 30.7812 29.9835L34.6753 29.9853C34.6754 29.9853 34.6755 29.9853 34.6755 29.9853C34.6879 29.9853 34.7002 29.9849 34.7126 29.9841C35.1617 29.9548 35.5501 29.7111 35.7781 29.3154C36.0527 28.8389 36.0486 28.2354 35.7668 27.7003C35.4728 27.144 35.0914 26.6652 34.7559 26.269ZM34.8068 28.778C34.7531 28.8712 34.6869 28.8882 34.6527 28.8922L30.7595 28.8905C30.7594 28.8905 30.7593 28.8905 30.7591 28.8905C30.7437 28.8905 30.7284 28.8911 30.7131 28.8923C29.9461 28.9549 29.2942 28.6908 28.6637 28.0611C28.3061 27.7041 27.9562 27.3206 27.6179 26.9497C27.453 26.7689 27.2825 26.582 27.1113 26.3983C26.8989 26.1709 26.6363 25.9097 26.2989 25.695C25.7938 25.3738 25.3752 25.3835 25.1131 25.4482C24.8537 25.5123 24.485 25.695 24.202 26.2011C23.8354 26.8558 23.7545 27.5622 23.7216 28.2295C23.7026 28.6377 23.6321 28.7455 23.6027 28.7729C23.5642 28.8088 23.4353 28.8719 23.0054 28.8911C20.9395 28.9863 19.2058 28.6238 17.7045 27.7821C16.3984 27.0499 15.2548 25.9981 14.1055 24.4725C12.387 22.1908 10.8748 19.5485 9.20276 15.9052C9.14217 15.7732 9.12347 15.6908 9.11805 15.6467C9.16071 15.633 9.24405 15.6149 9.39018 15.6123C10.6069 15.5892 11.8545 15.5886 13.2055 15.6106C13.3904 15.6133 13.601 15.6677 13.7605 16.0501C14.5138 17.865 15.3839 19.4445 16.4208 20.8789C16.6961 21.2596 17.0388 21.7335 17.5424 22.0712C18.0037 22.3807 18.378 22.3659 18.6109 22.299C18.8438 22.2321 19.1671 22.0462 19.3849 21.5409C19.5254 21.2153 19.6103 20.8486 19.6524 20.3853C19.7725 19.0106 19.7512 17.8677 19.5854 16.7897C19.4685 16.0174 19.0615 15.4594 18.4204 15.1745C18.5343 15.1164 18.6626 15.0922 18.8408 15.0922H23.2091C23.4548 15.1462 23.5035 15.2097 23.5202 15.2314C23.591 15.3236 23.6314 15.5417 23.6561 15.7122L23.6599 20.4854C23.65 20.943 23.877 21.9578 24.6497 22.2361C24.6561 22.2384 24.6625 22.2405 24.6688 22.2425C25.3724 22.4678 25.8377 21.9812 26.0875 21.7198L26.132 21.6733C27.3076 20.4508 28.0992 19.0223 28.7177 17.7879C29.04 17.1505 29.313 16.4911 29.5438 15.9228C29.6593 15.6378 29.7644 15.5908 30.0152 15.596C30.0187 15.5961 30.0221 15.5961 30.0256 15.5961L34.286 15.5998C34.3851 15.5998 34.4885 15.6009 34.5688 15.6144C34.7718 15.6483 34.8554 15.6895 34.8829 15.7066C34.8858 15.7383 34.8851 15.8294 34.8238 16.0195C34.5147 16.9728 33.9175 17.7827 33.2852 18.6402L33.2097 18.7427C32.8812 19.1881 32.5343 19.6362 32.1989 20.0697C31.8123 20.5692 31.4126 21.0856 31.0337 21.6068C30.2235 22.7144 30.2947 23.4494 31.3058 24.4157C31.5447 24.6442 31.7896 24.8715 32.0265 25.0913C32.6981 25.7147 33.3325 26.3035 33.8987 26.9683C34.1951 27.3184 34.5311 27.7389 34.776 28.2023C34.9038 28.4449 34.8724 28.6641 34.8068 28.778Z" fill="white"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="up"></div>
  <div id="form-popup" class="form-popup">
    <div class="form-popup__back"></div>
    <div class="form-popup__inner">
      <div class="form-popup__inner-exit"></div>
      <form class="def-form">
        <p>Хотите стать <span>нашим клиентом?</span> Просто оставьте заявку и мы с удовольствием начнем сотрудничать.</p>
        <input type="hidden" class="form_title" data-send="title">
        <input required type="text" name="name" data-send="name" placeholder="Ваше имя">
        <input required type="email" name="email" data-send="email" placeholder="Ваша почта">
        <input class="def-button" type="submit" value="Выслать прайс-лист">
      </form>
    </div>
  </div>
</footer>