<header class="header">
  
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="header-top__address col-md-6 col-xl-4">
          <svg width="18" height="26" viewBox="0 0 18 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.78906 0.0239258C3.94277 0.0239258 0 3.97856 0 8.83943C0 10.4818 0.453565 12.0845 1.31196 13.475L8.28877 24.7519C8.42241 24.9679 8.65786 25.0992 8.91108 25.0992C8.91304 25.0992 8.91494 25.0992 8.91689 25.0992C9.17231 25.0971 9.40825 24.9618 9.53945 24.742L16.3384 13.3559C17.1495 11.9948 17.5781 10.433 17.5781 8.83943C17.5781 3.97856 13.6354 0.0239258 8.78906 0.0239258ZM15.0813 12.6016L8.9 22.9534L2.55698 12.7009C1.84248 11.5435 1.45508 10.2083 1.45508 8.83943C1.45508 4.78871 4.75049 1.48338 8.78906 1.48338C12.8276 1.48338 16.1182 4.78871 16.1182 8.83943C16.1182 10.1677 15.7563 11.4688 15.0813 12.6016Z" fill="white"/>
            <path d="M8.78906 4.43164C6.36592 4.43164 4.39453 6.40896 4.39453 8.8394C4.39453 11.2543 6.33384 13.2471 8.78906 13.2471C11.2746 13.2471 13.1836 11.2278 13.1836 8.8394C13.1836 6.40896 11.2122 4.43164 8.78906 4.43164ZM8.78906 11.7877C7.16519 11.7877 5.84961 10.4638 5.84961 8.8394C5.84961 7.2191 7.17363 5.8911 8.78906 5.8911C10.4045 5.8911 11.7236 7.2191 11.7236 8.8394C11.7236 10.44 10.4387 11.7877 8.78906 11.7877Z" fill="white"/>
          </svg>
          <span>г. Пенза, ул. Перспективная, 7</span>
        </div>
        <div class="col-12 col-md-6 header-top__phone col-xl-4">
          <a href="tel:+78412380088">
            <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.6781 12.6423C17.2197 12.1636 16.6669 11.9076 16.0809 11.9076C15.4997 11.9076 14.9421 12.1588 14.4648 12.6375L12.9716 14.1305C12.8488 14.0641 12.7259 14.0025 12.6078 13.9409C12.4377 13.8556 12.277 13.775 12.14 13.6897C10.7413 12.7987 9.47015 11.6375 8.251 10.135C7.66034 9.38618 7.26341 8.75582 6.97516 8.11598C7.36264 7.76051 7.72177 7.39082 8.07144 7.03536C8.20375 6.90265 8.33606 6.7652 8.46837 6.63249C9.46069 5.63718 9.46069 4.34802 8.46837 3.35271L7.17835 2.05881C7.03186 1.91188 6.88065 1.76022 6.73889 1.60855C6.45537 1.3147 6.15767 1.01136 5.85053 0.72699C5.39217 0.271991 4.84403 0.0302734 4.26753 0.0302734C3.69104 0.0302734 3.13345 0.271991 2.66092 0.72699C2.65619 0.73173 2.65619 0.73173 2.65146 0.736469L1.04485 2.36214C0.44 2.96881 0.0950497 3.70818 0.0194441 4.56604C-0.0939643 5.95 0.312416 7.23916 0.624289 8.0828C1.3898 10.154 2.53333 12.0735 4.23918 14.1305C6.30889 16.6093 8.79914 18.5667 11.6438 19.9459C12.7306 20.4626 14.1813 21.074 15.8021 21.1782C15.9013 21.183 16.0053 21.1877 16.0998 21.1877C17.1914 21.1877 18.1081 20.7943 18.8263 20.0123C18.8311 20.0028 18.8405 19.9981 18.8452 19.9886C19.091 19.69 19.3745 19.4199 19.6722 19.1307C19.8754 18.9364 20.0833 18.7326 20.2865 18.5193C20.7543 18.0312 21 17.4624 21 16.8794C21 16.2917 20.7496 15.7277 20.2723 15.2538L17.6781 12.6423ZM19.3698 17.633C19.365 17.633 19.365 17.6378 19.3698 17.633C19.1855 17.8321 18.9965 18.0122 18.7933 18.2113C18.4861 18.5051 18.1742 18.8132 17.8813 19.1592C17.404 19.671 16.8417 19.9128 16.1045 19.9128C16.0337 19.9128 15.9581 19.9128 15.8872 19.908C14.4837 19.818 13.1795 19.2682 12.2014 18.799C9.52685 17.5003 7.17835 15.6566 5.22678 13.32C3.61544 11.3721 2.53806 9.57103 1.82453 7.63728C1.38507 6.45713 1.22441 5.53765 1.29529 4.67031C1.34254 4.11578 1.55518 3.65604 1.94739 3.26266L3.55873 1.64647C3.79027 1.42845 4.03599 1.30996 4.27699 1.30996C4.57468 1.30996 4.81567 1.49006 4.96689 1.64173C4.97161 1.64647 4.97634 1.65121 4.98106 1.65595C5.26931 1.9261 5.54338 2.20574 5.83162 2.50433C5.97811 2.65599 6.12932 2.80766 6.28053 2.96407L7.57055 4.25797C8.07144 4.76036 8.07144 5.22484 7.57055 5.72724C7.43352 5.86468 7.30121 6.00213 7.16417 6.13484C6.76724 6.54244 6.38922 6.92161 5.97811 7.29129C5.96866 7.30077 5.95921 7.30551 5.95448 7.31499C5.5481 7.72259 5.62371 8.12072 5.70877 8.39087C5.71349 8.40509 5.71822 8.41931 5.72294 8.43353C6.05844 9.24873 6.53098 10.0165 7.24923 10.9313L7.25396 10.936C8.55815 12.5475 9.93323 13.8035 11.4501 14.7656C11.6438 14.8888 11.8423 14.9884 12.0313 15.0831C12.2014 15.1685 12.3621 15.249 12.4991 15.3343C12.518 15.3438 12.5369 15.358 12.5558 15.3675C12.7165 15.4481 12.8677 15.486 13.0236 15.486C13.4158 15.486 13.6615 15.2395 13.7419 15.159L15.3579 13.538C15.5186 13.3769 15.7738 13.1826 16.0715 13.1826C16.3644 13.1826 16.6054 13.3674 16.7519 13.5286C16.7566 13.5333 16.7566 13.5333 16.7614 13.538L19.365 16.1495C19.8517 16.633 19.8517 17.1306 19.3698 17.633Z" fill="white"/>
            </svg>
            <span>8(8412)38-00-88</span>
          </a>
        </div>
        <div class="header-top__mail col-xl-4">
          <a href="mailto:persppnz@gmail.com">
            <svg width="27" height="19" viewBox="0 0 27 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0.0361328V18.0903H27V0.0361328H0ZM13.5001 11.1853L2.42583 1.37531H24.5742L13.5001 11.1853ZM9.08863 9.06005L1.32755 15.9352V2.18487L9.08863 9.06005ZM10.0946 9.9513L13.4998 12.9679L16.905 9.9513L24.5811 16.7511H2.41888L10.0946 9.9513ZM17.911 9.06038L25.6724 2.18487V15.9352L17.911 9.06038Z" fill="white"/>
            </svg>
            <span>persppnz@gmail.com</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="header-bot">
    <div class="container">
      <div class="row">
        <div class="header-bot__logo col-8 col-md-6 col-xl-3">
          <img src="./files/imgs/logo.png" alt="">
        </div>
        <div class="header-bot__nav col-12 col-xl-6">
          <nav>
            <ul>
              <li><a href="#">Каталог</a></li>
              <li><a href="#">Наши клиенты</a></li>
              <li><a href="#">О нас</a></li>
              <li><a href="#">Акции</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </nav>
          <div class="header-bot__nav-soc">
            <a href="#">
              <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="21.5" cy="21.5" r="21.5" fill="#ad0023"/>
                <path d="M26.5261 10.2822H16.4737C13.06 10.2822 10.2827 13.0597 10.2827 16.4734V26.5257C10.2827 29.9396 13.06 32.7169 16.4737 32.7169H26.5261C29.9401 32.7169 32.7174 29.9395 32.7174 26.5257V16.4734C32.7175 13.0597 29.9401 10.2822 26.5261 10.2822ZM30.727 26.5257C30.727 28.842 28.8425 30.7264 26.5262 30.7264H16.4737C14.1576 30.7265 12.2732 28.842 12.2732 26.5257V16.4734C12.2732 14.1572 14.1576 12.2727 16.4737 12.2727H26.5261C28.8424 12.2727 30.7269 14.1572 30.7269 16.4734V26.5257H30.727Z" fill="white"/>
                <path d="M21.4998 15.7188C18.3122 15.7188 15.719 18.312 15.719 21.4996C15.719 24.6871 18.3122 27.2802 21.4998 27.2802C24.6874 27.2802 27.2807 24.6871 27.2807 21.4996C27.2807 18.312 24.6874 15.7188 21.4998 15.7188ZM21.4998 25.2895C19.4099 25.2895 17.7095 23.5894 17.7095 21.4995C17.7095 19.4094 19.4098 17.7091 21.4998 17.7091C23.5899 17.7091 25.2902 19.4094 25.2902 21.4995C25.2902 23.5894 23.5897 25.2895 21.4998 25.2895Z" fill="white"/>
                <path d="M27.5232 14.0303C27.1397 14.0303 26.7629 14.1855 26.4921 14.4576C26.2199 14.7283 26.0635 15.1051 26.0635 15.49C26.0635 15.8736 26.2201 16.2504 26.4921 16.5224C26.7628 16.7931 27.1397 16.9497 27.5232 16.9497C27.908 16.9497 28.2836 16.7931 28.5556 16.5224C28.8276 16.2504 28.9829 15.8735 28.9829 15.49C28.9829 15.1051 28.8276 14.7283 28.5556 14.4576C28.2849 14.1855 27.908 14.0303 27.5232 14.0303Z" fill="white"/>
              </svg>
            </a>
            <a href="#">
              <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="21.5" cy="21.5" r="21.5" fill="#ad0023"/>
                <path d="M34.7559 26.269C34.1468 25.5538 33.4588 24.9152 32.7933 24.2976C32.5594 24.0805 32.3175 23.856 32.0845 23.6332C32.0845 23.6331 32.0844 23.6331 32.0843 23.633C31.771 23.3335 31.6176 23.1209 31.6016 22.9639C31.5858 22.8096 31.6934 22.5806 31.941 22.2422C32.3112 21.7331 32.7058 21.2232 33.0875 20.7301C33.4268 20.2917 33.7775 19.8384 34.1138 19.3826L34.1892 19.2802C34.8452 18.3906 35.5234 17.4706 35.8869 16.3496C35.9907 16.0282 36.0985 15.5526 35.8385 15.135C35.5784 14.7174 35.0962 14.5936 34.7564 14.5369C34.5904 14.509 34.4329 14.5067 34.2864 14.5067L30.0313 14.503C29.2957 14.491 28.7853 14.8327 28.5072 15.5188C28.2846 16.0668 28.0217 16.7018 27.7171 17.3043C27.1344 18.4673 26.394 19.8068 25.3208 20.9228L25.2731 20.9725C25.2001 21.049 25.0807 21.1739 25.0194 21.2026C24.9031 21.131 24.769 20.7215 24.7751 20.507C24.7753 20.5017 24.7753 20.4965 24.7753 20.4912L24.7716 15.6736C24.7716 15.6491 24.7698 15.6246 24.7665 15.6004C24.671 14.9131 24.485 14.224 23.3748 14.0094C23.3392 14.0025 23.303 13.999 23.2668 13.999H18.8407C18.0079 13.999 17.5675 14.3727 17.2144 14.7778C17.1121 14.8959 16.8406 15.2095 16.9789 15.5929C17.1189 15.9808 17.5361 16.0582 17.673 16.0836C18.1554 16.1733 18.4048 16.4404 18.482 16.9511C18.6347 17.9434 18.6534 19.0049 18.541 20.2901C18.5096 20.6351 18.4513 20.8974 18.3573 21.1155C18.3312 21.1758 18.3084 21.2133 18.2924 21.2353C18.2669 21.2252 18.2273 21.2059 18.1724 21.1691C17.8334 20.9418 17.578 20.5885 17.331 20.247C16.3443 18.882 15.5143 17.3743 14.7934 15.6373C14.4965 14.9255 13.9383 14.528 13.2228 14.5177C11.8596 14.4955 10.5987 14.496 9.36956 14.5194C8.78982 14.5293 8.38327 14.7081 8.16102 15.051C7.93849 15.3945 7.94664 15.8325 8.1853 16.3531C9.89134 20.0704 11.4404 22.7746 13.2079 25.1214C14.4525 26.7736 15.7052 27.9204 17.1505 28.7307C18.6689 29.5819 20.3814 29.9991 22.3681 29.999C22.594 29.999 22.8239 29.9936 23.0568 29.9827C24.2825 29.928 24.7812 29.4503 24.8356 28.2805C24.8662 27.6623 24.9364 27.1615 25.18 26.7264C25.2482 26.6046 25.325 26.5229 25.3856 26.508C25.4501 26.4922 25.5643 26.5308 25.6913 26.6117C25.9236 26.7595 26.1236 26.9599 26.288 27.1358C26.4547 27.3146 26.6232 27.4994 26.7862 27.678C27.1331 28.0583 27.4918 28.4515 27.8676 28.8267C28.7176 29.6757 29.6975 30.065 30.7812 29.9835L34.6753 29.9853C34.6754 29.9853 34.6755 29.9853 34.6755 29.9853C34.6879 29.9853 34.7002 29.9849 34.7126 29.9841C35.1617 29.9548 35.5501 29.7111 35.7781 29.3154C36.0527 28.8389 36.0486 28.2354 35.7668 27.7003C35.4728 27.144 35.0914 26.6652 34.7559 26.269ZM34.8068 28.778C34.7531 28.8712 34.6869 28.8882 34.6527 28.8922L30.7595 28.8905C30.7594 28.8905 30.7593 28.8905 30.7591 28.8905C30.7437 28.8905 30.7284 28.8911 30.7131 28.8923C29.9461 28.9549 29.2942 28.6908 28.6637 28.0611C28.3061 27.7041 27.9562 27.3206 27.6179 26.9497C27.453 26.7689 27.2825 26.582 27.1113 26.3983C26.8989 26.1709 26.6363 25.9097 26.2989 25.695C25.7938 25.3738 25.3752 25.3835 25.1131 25.4482C24.8537 25.5123 24.485 25.695 24.202 26.2011C23.8354 26.8558 23.7545 27.5622 23.7216 28.2295C23.7026 28.6377 23.6321 28.7455 23.6027 28.7729C23.5642 28.8088 23.4353 28.8719 23.0054 28.8911C20.9395 28.9863 19.2058 28.6238 17.7045 27.7821C16.3984 27.0499 15.2548 25.9981 14.1055 24.4725C12.387 22.1908 10.8748 19.5485 9.20276 15.9052C9.14217 15.7732 9.12347 15.6908 9.11805 15.6467C9.16071 15.633 9.24405 15.6149 9.39018 15.6123C10.6069 15.5892 11.8545 15.5886 13.2055 15.6106C13.3904 15.6133 13.601 15.6677 13.7605 16.0501C14.5138 17.865 15.3839 19.4445 16.4208 20.8789C16.6961 21.2596 17.0388 21.7335 17.5424 22.0712C18.0037 22.3807 18.378 22.3659 18.6109 22.299C18.8438 22.2321 19.1671 22.0462 19.3849 21.5409C19.5254 21.2153 19.6103 20.8486 19.6524 20.3853C19.7725 19.0106 19.7512 17.8677 19.5854 16.7897C19.4685 16.0174 19.0615 15.4594 18.4204 15.1745C18.5343 15.1164 18.6626 15.0922 18.8408 15.0922H23.2091C23.4548 15.1462 23.5035 15.2097 23.5202 15.2314C23.591 15.3236 23.6314 15.5417 23.6561 15.7122L23.6599 20.4854C23.65 20.943 23.877 21.9578 24.6497 22.2361C24.6561 22.2384 24.6625 22.2405 24.6688 22.2425C25.3724 22.4678 25.8377 21.9812 26.0875 21.7198L26.132 21.6733C27.3076 20.4508 28.0992 19.0223 28.7177 17.7879C29.04 17.1505 29.313 16.4911 29.5438 15.9228C29.6593 15.6378 29.7644 15.5908 30.0152 15.596C30.0187 15.5961 30.0221 15.5961 30.0256 15.5961L34.286 15.5998C34.3851 15.5998 34.4885 15.6009 34.5688 15.6144C34.7718 15.6483 34.8554 15.6895 34.8829 15.7066C34.8858 15.7383 34.8851 15.8294 34.8238 16.0195C34.5147 16.9728 33.9175 17.7827 33.2852 18.6402L33.2097 18.7427C32.8812 19.1881 32.5343 19.6362 32.1989 20.0697C31.8123 20.5692 31.4126 21.0856 31.0337 21.6068C30.2235 22.7144 30.2947 23.4494 31.3058 24.4157C31.5447 24.6442 31.7896 24.8715 32.0265 25.0913C32.6981 25.7147 33.3325 26.3035 33.8987 26.9683C34.1951 27.3184 34.5311 27.7389 34.776 28.2023C34.9038 28.4449 34.8724 28.6641 34.8068 28.778Z" fill="white"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="header-bot__button col-md-4 col-xl-3">
          <div class="gray-button">заказать звонок</div>
        </div>
        <div class="header-bot__burger col-3 ml-auto col-md-2">
          <div class="inner">
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</header>