<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="./files/libs/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="./files/libs/OwlCarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="./files/libs/gal/lightcase.css">
<link rel="stylesheet" href="./style.css">