<script defer src="./files/libs/jquery/jquery-3.3.1.min.js"></script>
<script defer src="./files/libs/gal/lightcase.js"></script>
<script defer src="./files/libs/bootstrap/js/bootstrap.min.js"></script>
<script defer src="./files/libs/OwlCarousel/owl.carousel.min.js"></script>
<script defer src="./main.js"></script>
