.footer{
  position: relative;

  &-map{
    margin-bottom: 50px;
  }

  &-contacts{
    margin-bottom: 30px;

    .col-12{
      display: flex;
      justify-content: center;
      position: static;
    }

    &__inner{
      background-color: #fff;
      padding: 25px 14px 35px;
      border: 2px solid #ad0023;
      border-radius: 10px;

      &-title{
        font-size: 25px;
        font-family: 'lb', Arial, sans-serif;
        margin-bottom: 35px;
      }

      &-text{
        p{
          display: flex;
          margin-bottom: 10px;

          svg{
            margin-right: 10px;
          }

          span{
            font-size: 16px;
            color: #414141;
          }
        }
      }

      &-times{
        margin-bottom: 15px;

        p:first-child{
          margin-bottom: 5px;

          span{
            font-size: 18px;
          }
        }

        p:not(:first-child){
          display: flex;
          justify-content: space-between;
          padding-left: 25px;
          position: relative;
          background-image: url('./files/imgs/icons/time-r.svg');
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 18px;
          margin-bottom: 10px;

          span{
            font-size: 16px;
          }
        }

        p:last-child{
          margin-bottom: 0;
        }
      }

      &-soc{
        display: flex;

        a:first-child{
          margin-right: 15px;
        }
      }
    }
  }

  #up{
    display: none;
    width: 30px;
    height: 30px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(183,183,183,1);
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    background-image: url('./files/imgs/icons/arrow-left.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    padding: 5px;
    transform: rotate(90deg);
    z-index: 10;
    cursor: pointer;

    &.on{
      display: block;
    }
  }

  .form-popup{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 111;
    display: none;

    &__back{
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(black, .85);
    }

    &__inner{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

}

#goods-popup{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(black, 0.8);
  z-index: 111;
  display: none;

  .goods-popup-content{
    max-width: 100%;
    max-height: calc(100vh - 50px);
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px 50px 20px;
    overflow-y: scroll;

    &__exit{
      position: absolute;
      right: 50px;
      top: 10px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      border-radius: 50%;
      box-shadow: 0px 0px 5px 2px #404343;


      &::before{
        display: block;
        content: '';
        width: 25px;
        height: 3px;
        background-color: #404343;
        position: absolute;
        left: 3px;
        top: 14px;
        transform: rotate(45deg);
      }

      &::after{
        display: block;
        content: '';
        width: 25px;
        height: 3px;
        background-color: #404343;
        position: absolute;
        left: 3px;
        top: 14px;
        transform: rotate(-45deg);
      }
    }

    &__top{
      display: flex;

      .left-side{
        min-width: 400px;
        width: 400px;

        &__scheme{
          margin: 0 auto;
        }
      }

      .right-side{

        &__title{
          display: block;
          font-size: 28px;
          font-family: 'lb', Arial, sans-serif;
          margin-bottom: 20px;
        }

        &__text{
          font-size: 18px;
          display: block;
          margin-bottom: 30px;
        }

        &__addictions{
          font-size: 20px;
          display: block;
          font-family: 'lb', Arial, sans-serif;
        }

        &__subtext{
          font-size: 18px;
          display: block;
        }
      }
    }

    &__bottom{

      &-title{
        text-align: center;
        font-size: 24px;
        font-family: 'lb', Arial, sans-serif;
        margin-bottom: 20px;
      }

      .item-popup-wrap{
        display: flex;
        flex-wrap: wrap;

        .cycle-colors__wrap{
          width: 25%;
          padding: 0 15px;
          margin-bottom: 30px;

          .item-popup-wrap__img{
            margin-bottom: 15px;
          }

          .item-popup-wrap__title{
            font-size: 16px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen
and (min-width: 768px){

  .footer{

    &-contacts{

      &__inner{
        padding: 35px 100px 20px 100px ;

        &-title{
          font-size: 40px;
          margin-bottom: 30px;
        }

        &-text{

          p{
            span, a{
              font-size: 18px;
            }
          }
        }

        &-times{

          p:first-child{

            span{
              font-size: 24px;
            }
          }

          p:not(:first-child){

            span{
              font-size: 18px;
            }
          }
        }
      }
    }

    #up{
      bottom: 20px;
      right: 20px;
      width: 35px;
      height: 35px;
    }
  }

}

@media screen
and (min-width: 1200px){

  .footer{

    &-map{
      margin-bottom: 0;

      iframe{
        height: 600px!important;
      }
    }

    &-contacts{
      position: absolute;
      left: 50%;
      top: calc(50% + 20px);
      transform: translateY(-50%);
    }

    #up{
      bottom: 20px;
      right: 50px;
      width: 45px;
      height: 45px;
    }
  }

  #goods-popup {

    .goods-popup-content {

      &__top {

        form.def-form {
          border: none;
          position: absolute;
          top: 160px;
          right: 0;
          background: none;

          input {
            height: 40px;
            width: 245px;
            font-size: 16px;
            border-color: #000;
          }

          input.def-button {
            border: none;
          }
        }

        form.submitted {

          &:before {
            height: 200px;
            width: 260px;
            left: 125px;
            top: 55px;
          }

          &:after {
            top: 58px;
            font-size: 20px;
          }
        }
      }
    }
  }
}