.header{

  &-top{
    background-color: #2D2D2D;

    .row{
      height: 40px;
      align-items: center;
    }

    &__address{
      display: none;
    }

    &__phone{

      a{
        display: flex;

        svg{
          margin-right: 10px;
        }

        span{
          font-size: 18px;
          color: #fff;
          font-family: 'lb', Arial, sans-serif;
        }
      }
    }

    &__mail{
      display: none;
    }
  }

  &-bot{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.21);

    &__logo{
      height: 80px;
      padding: 15px 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__nav{
      display: none;
    }

    &__button{
      display: none;

      .gray-button{
        cursor: pointer;
      }
    }

    &__burger{
      display: flex;
      align-items: center;
      justify-content: center;

      .inner{
        width: 45px;
        height: 30px;
        position: relative;
        cursor: pointer;

        .line{
          position: absolute;
          width: 40px;
          height: 2px;
          background-color: #2D2D2D;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          &::before{
             display: block;
             content: '';
             transition: all .5s;
             width: 40px;
             height: 2px;
             background-color: #2D2D2D;
             position: absolute;
             top: -10px;
             left: 0;
           }

          &::after{
            display: block;
            content: '';
            transition: all .5s;
            width: 40px;
            height: 2px;
            background-color: #2D2D2D;
            position: absolute;
            top: 10px;
            left: 0;
          }
        }
      }
    }
  }

  &.burger-opened{

    .header-bot{

      &__nav{
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        z-index: 2;
        padding-bottom: 20px;

        nav{
          border-bottom: 1px solid #B7B7B7;
          margin-bottom: 15px;

          ul{
            list-style: none;
            padding-left: 0;
            padding-top: 10px;

            li{
              margin-bottom: 10px;

              a{
                font-size: 20px;
                padding: 5px;
                text-transform: uppercase;
                display: block;
                letter-spacing: 1px;
                color: $def-color;
              }
            }
          }
        }

        &-soc{

          a{
            display: inline-block;
            max-width: 43px;
            margin-right: 30px;
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }

      &__burger{

        .inner{

          .line{
            background-color: transparent;

            &::before{
              transform: rotate(45deg);
              top: 0;
            }

            &::after{
              top: 0;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
}


@media screen
and (min-width: 768px){

  .header{

    .row{
      align-items: center;
    }

    &-top{

      &__address{
        display: flex;
        align-items: center;

        svg{
          margin-right: 10px;
        }

        span{
          color: #fff;
          font-size: 18px;
          font-family: 'lb', Arial, sans-serif;
        }
      }
    }

    &-bot{

      &__button{
        display: block;

        .gray-button{
          width: 210px;
          height: 37px;
          background: #E8E8E8;
          color: $def-color;
          border-radius: 50px;
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 1px;
          line-height: 37px;
          text-align: center;
        }
      }
    }
  }
}

@media screen
and (min-width: 1200px){

  .header{

    &-top{

      &__phone{
        display: flex;
        justify-content: center;
      }

      &__mail{
        display: flex;
        justify-content: flex-end;

        a{
          display: flex;
          align-items: center;

          svg{
            margin-right: 10px;
          }

          span{
            color: #fff;
            font-size: 18px;
            font-family: 'lb', Arial, sans-serif;
          }
        }
      }

    }

    &-bot{

      &__nav{
        display: block;

        nav{
          border-bottom: none;

          ul{
            padding-left: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;

            li{

              a{
                font-size: 16px;
                color: $def-color;
                padding: 5px;
                font-family: 'lb', Arial, sans-serif;
                text-transform: uppercase;
                letter-spacing: 1px;
              }
            }
          }
        }

        &-soc{
          display: none;
        }
      }

      &__button{
        display: flex;
        justify-content: flex-end;
      }

      &__burger{
        display: none;
      }
    }
  }

}