.main{

  .first-screen{
   // padding-top: 20px;
  //  padding-bottom: 119px;
    margin-bottom: 50px;
    position: relative;
   // background-image: url('./files/imgs/first.jpg');
    background-repeat: no-repeat;
    background-position: left center;

    .mobile-button{

      .gray-button{
       // width: 210px;
        width: 170px;
        height: 25px;
       // height: 37px;
        background: #E8E8E8;
        color: $def-color;
        border-radius: 50px;
        //font-size: 16px;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1px;
       // line-height: 37px;
        line-height: 29px;
        text-align: center;
        margin: 0 auto 20px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 6px;
        z-index: 2;
      }
    }

    &__title{

      h1{
        font-size: 32px;
        color: #fff;
        font-family: 'lb', Arial, sans-serif;
        margin-bottom: 25px;
        text-align: center;
      }
    }

    &__list{
      list-style: none;
      margin-bottom: 0;
      padding-left: 15px;

      li{
        color: #fff;
        font-size: 16px;
        font-family: 'lb', Arial, sans-serif;
        margin-bottom: 20px;
        position: relative;
        padding-left: 50px;
        min-height: 34px;

        &:last-child{
          margin-bottom: 0;
        }

        svg{
          position: absolute;

          &.svg1{
            left: 0;
            top: 0;
          }
          &.svg2{
            left: 3px;
            top: 0;
          }
          &.svg3{
            left: 5px;
            top: 0;
          }
          &.svg4{
            left: 0;
            top: 0;

          }
        }
        
        span{
          color: #fff;
          font-size: 16px;
          font-family: 'lb', Arial, sans-serif;
        }
      }
    }
    
    &__form{
      padding: 0;
      position: absolute;
      top: calc(100% - 70px);
      left: 0;
    }
  }

  .sliderus {

    &__top{

      .item {
        min-height: 185px;
        width: 100%;
        position: relative;
        overflow: hidden;

        img {
          max-width: none;
          max-height: none;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .owl-nav button {
        width: 60px;
        height: 100px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        outline: none;

        span {
          display: none;
        }
      }

        .owl-next{
           right: 0;

           &:before{
             display: block;
             content: '\203a';
             color: #fff;
             font-size: 76px;
           }
         }


      .owl-prev{

        &:before{
          display: block;
          content: '\2039';
          color: #fff;
          font-size: 76px;
        }
      }



    }
  }

  .goods{

    &-content{
      list-style: none;
      padding-left: 15px;
    }

    &__item{
      margin-bottom: 15px;

      &:first-child{
        border-top: 1px solid #B7B7B7;
      }

      &-title{
        border-bottom: 1px solid #B7B7B7;
        font-size: 14px;
        font-family: 'lr', Arial, sans-serif;
        padding-top: 15px;
        padding-bottom: 10px;
        position: relative;
        padding-right: 40px;
        cursor: pointer;

        &::before{
          display: block;
          content: '';
          width: 13px;
          height: 1px;
          background-color: #373737;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }

        &::after{
          display: block;
          content: '';
          width: 13px;
          height: 1px;
          background-color: #373737;
          position: absolute;
          right: 9px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
      }

      &-cont{
        display: flex;
        flex-wrap: wrap;
        transition: all .7s;
        overflow: hidden;
        max-height: 0;
        border-bottom: 1px solid transparent;

        &__item{
          width: 50%;
          min-width: 50%;
          margin-bottom: 5px;
          padding: 10px;
          cursor: pointer;

          img{
            border: 2px solid #B7B7B7;
            margin-bottom: 10px;
          }

          span{
            font-size: 14px;
            font-family: 'lb', Arial, sans-serif;
          }

          .field__carts-scheme,
          .field__carts-text,
          .field__carts-subtext,
          .item-popup-wrap__title,
          .item-popup-wrap__img{
            display: none;
          }
        }
      }

      &.opened{

        .goods__item-title{
          border-bottom: 1px solid #ad0023;

          &::before{
            right: 9px;
          }

          &::after{
            right: 0;
          }
        }

        .goods__item-cont{
          padding-top: 20px;
          padding-bottom: 10px;
          max-height: 5000px;
          border-bottom: 1px solid #B7B7B7;
        }
      }
    }
  }
  
  .callback{
    background-image: url('./files/imgs/second.jpg');
    padding: 46px 0;
    background-position: center;
    background-size: cover;
    margin-bottom: 60px;
  }

  .gallery-wrap{

    .gallery{

      &-wrap-hide{
        display: none;
      }

      &-troika{

        &__item{
          //margin-bottom: 30px;

          .padding{

            .img{
              display: block;
              height: 0;
              padding-top: 60%;
              overflow: hidden;
              position: relative;

              img{
                max-width: 105%;
                max-height: none;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }

    }
  }

  .products{
    margin-bottom: 50px;

    &__item{
      position: relative;
      max-width: 280px;
      margin: 0 auto 30px;
      height: 340px;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;

      svg{
        margin-bottom: 15px;
      }

      h6{
        text-align: center;
        max-width: 200px;
        font-size: 25px;
        font-family: 'lr', Arial, sans-serif;
        margin-bottom: 10px;
      }

      span{
        display: block;
        text-align: center;
        font-size: 18px;
        font-family: 'lr', Arial, sans-serif;
        color: #5C5C5C;
        border-bottom: 1px solid #5C5C5C;;
        cursor: pointer;
      }

      &-popup{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 11;
        display: none;
        overflow-y: scroll;

        &__background{
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: rgba(black, .8);
        }
        
        &__inner{
          width: 800px;
          height: 500px;
          max-width: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background-color: #F0F0F0;
          padding: 30px 15px;
          display: flex;
          justify-content: center;
          align-content: center;
          flex-wrap: wrap;
          border-radius: 50px;

          ul{
            list-style: none;
            margin-bottom: 30px;

            li{
              font-size: 18px;
            }
          }

          &-title{
            font-size: 18px;
            margin-bottom: 20px;
            text-align: center;
            font-family: 'lb', Arial, sans-serif;
            min-width: 100%;
          }

          &::before{
            display: none;
            content: '';
            border-radius: 50%;
            width: 40px;
            height: 40px;
            border: 1px solid #ad0023;
            position: absolute;
            right: -15px;
            top: -15px;
            cursor: pointer;
            background-color: #fff;
          }

          &::after{
            display: none;
            content: 'Х';
            position: absolute;
            right: -16px;
            top: -10px;
            width: 40px;
            height: 40px;
            color: #ad0023;
            text-align: center;
            line-height: 32px;
            font-size: 24px;
          }
        }
      }

      &::before{
        display: block;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #F0F0F0;
        z-index: -1;
      }
    }
  }

  .about{
    margin-bottom: 75px;

    &__text{
      margin-bottom: 35px;

      p{
        font-size: 16px;
        font-family: 'lr', Arial, sans-serif;
        margin-bottom: 30px;

        &:last-child{
          margin-bottom: 0;
        }

        span{
          font-size: inherit;
          font-family: inherit;
          color: #ad0023;
        }
      }
    }

    &__logo{
      margin-bottom: 50px;

      &-imgs{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 30px;

        img{
          width: 100%;
          margin-bottom: 30px;

          &:last-child{
            margin-bottom: 0;
          }
        }

      }

      &-text{

        p{
          font-size: 16px;
          font-family: 'lr', Arial, sans-serif;
          margin-bottom: 30px;

          &:last-child{
            margin-bottom: 0;
          }

          span{
            font-size: inherit;
            font-family: inherit;
            color: #ad0023;
          }
        }
      }
    }

    &__item{
      margin-bottom: 70px;

      &:last-child{
        margin-bottom: 0;

        .about__item-title{
          height: 57px;
          line-height: 57px;
          font-size: 72px;
          font-family: 'lr', Arial, sans-serif;
        }
      }

      &-title{
        display: block;
        font-size: 38px;
        font-family: 'lb', Arial, sans-serif;
        color: #ad0023;
        margin-bottom: 10px;
        text-align: center;

        sup{
          font-family: inherit;
          font-size: inherit;
          color: inherit;
        }
      }

      &-text{
        display: block;
        max-width: 270px;
        margin: 0 auto;
        font-size: 16px;
        text-align: center;
        font-family: 'lb', Arial, sans-serif;

      }

    }
  }

  .faces{
    margin-bottom: 70px;

    &-title{
      margin-bottom: 10px;
    }

    &__subtitle{
      font-size: 16px;
      color: #ad0023;
      margin-bottom: 20px;
      text-align: center;
    }

    &-item{
      margin: 0 auto 20px;
      max-width: 430px;

      &:last-child{
        margin-bottom: 0;
      }

      &__img{
        margin-bottom: 5px;

        img{
          margin: 0 auto;
        }
      }

      &__name{
        font-size: 16px;
      }

      &__position{
        font-size: 16px;
        color: #ad0023;
      }
    }

    &-comment{
      position: relative;
      max-width: 400px;
      margin: 0 auto;
      padding-left: 45px;

      > svg{
        position: absolute;
        left: 15px;
        top: 0;
      }

      p{
        line-height: 29px;

        svg{
          display: inline;
        }
      }
      
      span{
        display: block;
        text-align: right;
        color: #414141;
      }
    }
  }

  .review{
    margin-bottom: 70px;

    .def-title{
      margin-bottom: 25px;
    }

    &-wrap {

    }

    &-slide{
      width: 100%;
      max-width: 960px;
      position: relative;
      margin: 0 auto;
    }

    .owl-carousel .item {
      height: 205px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        width: auto!important;
        border: 2px solid #B7B7B7;
      }
    }

    .popup {
      position: absolute;
      width: 0;
      height: 0;
      background: rgba(0,0,0,0.4);
      z-index: 10;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .owl-dots{
      padding-top: 15px;
      text-align: center;

      .owl-dot{
        outline: none;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin-right: 14px;
        background-color: #C4C4C4;

        &.active{
          background-color: #ad0023;
        }

        &:last-child{
          margin-right: 0;
        }
      }
    }
  }

  .stock{
    margin-bottom: 75px;

    .def-title{
      margin-bottom: 20px;
    }

    &__item{
      margin-bottom: 40px;

      &:last-child{
        margin-bottom: 0;
      }

      &-img{
        margin: 0 auto 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 400px;

      }

      &-text{

        p{
          font-size: 25px;
          text-align: center;
        }
      }
    }



  }
}

