@media screen
and (min-width: 600px) and (max-width: 767.98px) {

  .main {

    .sliderus {

      &__top {

        .item {
          height: 250px;
        }
      }
    }
  }
}

@media screen
and (min-width: 768px){

  .main{

    .first-screen{
     // padding-top: 200px;
     // padding-bottom: 200px;
      margin-bottom: 80px;

      .mobile-button{
        display: none;
      }

      &__title{
        h1{
          font-size: 40px;
        }
      }

      &__list{
        margin-bottom: 0;

        li{
          min-height: 35px;

          &:last-child{
            margin-bottom: 0;
          }

          span{
            font-size: 22px;
            margin-bottom: 30px;
          }
        }
      }

      &__form{
        top: calc(100% - 130px);

      }
    }

    .sliderus {

      &__top {

        .item {
          min-height: 397px;
        }
      }
    }

    .goods{

      &__item{

        &-title{
          font-size: 18px;
        }

        &-cont{

          &__item{

            span{
              font-size: 18px;
            }
          }
        }
      }
    }

    .callback{
       padding: 40px 0;
       margin-bottom: 110px;
     }

    .products{
      margin-bottom: 70px;

      &__item{
        width: 370px;
        max-width: 370px;
      }
    }

    .about{

      &__text{

        p{
          font-size: 22px;
        }
      }

      &__logo{

        &-imgs{
          justify-content: space-between;
          align-items: center;

          img{
            width: calc(50% - 10px);
          }
        }

        &-text{

          p{
            font-size: 22px;
          }
        }
      }

      &__item{

        &-title{
          font-size: 50px;
        }

        &-text{
          font-size: 25px;
        }

        &:last-child{

          .about__item-title{
            height: 75px;
            line-height: 75px;
            font-size: 90px;
          }
        }
      }
    }

    .faces{

      &__subtitle{
        font-size: 30px;
        margin-bottom: 30px;
      }

      &-item{

        &__img{
          margin-bottom: 10px;
        }

        &__name{
          font-size: 28px;
        }

        &__position{
          font-size: 20px;
        }
      }

      &-comment{
        max-width: 690px;
        padding-left: 55px;

        > svg{
          top: 8px;
        }

        p{
          font-size: 25px;
          line-height: 45px;

          > svg {
            margin-left: 10px;
          }
        }

        span{
          font-size: 30px;
        }
      }
    }

    .review{
      margin-bottom: 100px;
      padding: 0 90px;

      .owl-carousel .item{
        height: 327px;
      }

      .owl-nav{
        position: absolute;
        z-index: -1;
        width: calc(100% + 140px);
        height: 55px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        
        .owl-prev,
        .owl-next{
          background-image: url('./files/imgs/icons/arrow-left.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: 69px;
          height: 55px;
          cursor: pointer;
          outline: none;
        }

        .owl-next{
          transform: scale(-1, 1);
        }
      }
    }

    .stock{

      &__item{

        &-img{

        }

        &-text{

          p{
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media screen
and (min-width: 1200px){

  .main{

    .first-screen{
      background-size: cover;
   //   padding-top: 110px;
    //  padding-bottom: 60px;
      margin-bottom: 80px;

      &__title{
        h1{
          text-align: left;
          font-size: 50px;
          margin-bottom: 110px;
        }
      }

      &__list{

        li{
          margin-bottom: 35px;

          &:last-child{
            margin-bottom: 0;
          }
        }
      }

      &__form{
        position: static;

      }


    }

    .sliderus {

      &__top {

        .item {
          height: 630px;
        }
      }
    }

    .goods{
      margin-bottom: 70px;

      &-content{
        max-width: 440px;
        width: 440px;
        position: relative;
        min-height: 536px;

      }

      &__item{
        border-top: none!important;

        &-title{
          border-bottom: 1px solid transparent;
          padding-right: 0;

          &::after, &::before{
            display: none;
          }
        }

        &-cont{
          display: flex;
          position: absolute;
          left: calc(400px + 50px);
          top: 0;
          width: 690px;
          height: 536px;
          min-height: 520px;
          padding-top: 0;
          border-bottom: none;
          background-color: white;
          overflow-y: scroll;

          &__item{
            padding-top: 0;

            span{
              font-family: 'lr', Arial, sans-serif;
            }
          }

        }

        &.opened{

          .goods__item-cont{
            display: flex;
            padding-top: 0;
            border-bottom: none;
            padding-bottom: 0;
            z-index: 1;
          }
        }
      }
    }

    .callback{
      padding: 44px 0;
      margin-bottom: 150px;

      form.def-form{
        margin-right: 0;
      }

      &.last{

        form.def-form{
          margin-left: 0;
        }
      }
    }

    .gallery-wrap{

      .gallery{

        &-troika{
          display: flex;
          flex-direction: column;
          height: 450px;
          margin-bottom: 30px;

          &__item{

            .padding{

              .img{

                img{

                }
              }
            }
          }

          &:nth-child(odd){
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            .gallery-troika__item{

              .padding{
                height: 100%;

                .img{
                  padding: 0;
                  height: 100%;
                }
              }

              &:nth-child(1){
                height: 450px;
                width: 670px;
                margin-right: 30px;
                margin-bottom: 0;

                .img{

                  img{
                    max-width: 150%;
                  }
                }
              }

              &:nth-child(2){
                width: 410px;
                height: 210px;
                margin-bottom: 30px;
              }

              &:nth-child(3){
                width: 410px;
                height: 210px;
                margin-bottom: 0;
              }

              &:last-child{
                margin-bottom: 0!important;
              }
            }
          }

          &:nth-child(even){
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            .gallery-troika__item{

              .padding{
                height: 100%;

                .img{
                  padding: 0;
                  height: 100%;
                }
              }

              &:nth-child(3){
                height: 450px;
                width: 670px;
                margin-left: 30px;

                .img{

                  img{
                    max-width: 150%;
                  }
                }
              }

              &:nth-child(2){
                width: 410px;
                height: 210px;
                margin-bottom: 0;
              }

              &:nth-child(1){
                width: 410px;
                height: 210px;
                margin-bottom: 30px;
              }
            }
          }

          &.first{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            .gallery-troika__item{

              .padding{
                height: 100%;

                .img{
                  padding: 0;
                  height: 100%;
                }
              }

              &:nth-child(3){
                height: 450px;
                width: 670px;
                margin-left: 0;

                .img{

                  img{
                    max-width: 150%;
                  }
                }
              }

              &:nth-child(2){
                width: 410px;
                height: 210px;
                margin-bottom: 0;
              }

              &:nth-child(1){
                width: 410px;
                height: 210px;
                margin-bottom: 30px;
              }
            }
          }
        }
      }
    }

    .products{
      margin-bottom: 100px;

      &__item{
        margin: 0 0 30px;

        &::before{
          left: 15px;
          right: 15px;
        }

        &:nth-child(5), &:nth-child(6){
          max-width: 570px;
          width: 570px;
        }

        &-popup{
          overflow-y: auto;
        }
      }

    }

    .about{
      margin-bottom: 100px;

      &__text{
        margin-bottom: 90px;
      }

      &__logo{
        margin-bottom: 90px;
      }

      &__item{

        &-text{
          max-width: none;
          font-size: 24px;
        }
      }
    }

    .faces{

      &-item{
        margin-bottom: 50px;
      }

      &-comment{
        max-width: 1000px;
      }
    }

    .stock{
      margin-bottom: 150px;

      &__item{
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-img{

          img{
            max-width: 100%;
          }
        }

        &-text{
          align-self: flex-end;
        }
      }
    }
  }
}