//@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap&subset=cyrillic,cyrillic-ext');
//font-family: 'Roboto Slab', serif;

//@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');
//font-family: 'Roboto Condensed', sans-serif;

@font-face {
  font-family: 'lr';
  src: url('./files/fonts/lr/Lato-Regular.eot');
  src: url('./files/fonts/lr/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('./files/fonts/lr/Lato-Regular.woff') format('woff'),
  url('./files/fonts/lr/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lb';
  src: url('./files/fonts/lb/Lato-Bold.eot');
  src: url('./files/fonts/lb/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('./files/fonts/lb/Lato-Bold.woff') format('woff'),
  url('./files/fonts/lb/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lbb';
  src: url('./files/fonts/lbb/Lato-Black.eot');
  src: url('./files/fonts/lbb/Lato-Black.eot?#iefix') format('embedded-opentype'),
  url('./files/fonts/lbb/Lato-Black.woff') format('woff'),
  url('./files/fonts/lbb/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$def-color: #373737;

*{
  font-family: 'lr', Arial, sans-serif;
  box-sizing: border-box;
  color: $def-color;
  font-size: 14px;
}

a{
  color: #36201F;
  text-decoration: none;
  &:hover{
    color: #36201F;
    text-decoration: none;
  }
}

*::before, *::after{
  max-width: 100%;
}

html, body{
  min-height:100vh!important;
  height:100%!important;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
}
main{
  flex: 1 0 auto;
}

footer{
  flex: 0 0 auto;
}

ul{
  margin: 0;
}

li{
  margin: 0;
  padding: 0;
}

img, svg{
  display: block;
  max-height: 100%;
  max-width: 100%;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;
}

input{
  max-width: 100%;
}

input[type="submit"]{
  padding: 1px 5px;
}

.container{
  height: 100%;
}

section{
  margin-bottom: 30px;
}

.def-title{
  font-size: 25px;
  font-family: 'lb', Arial, sans-serif;
  text-align: center;
  margin-bottom: 35px;
}

.def-button{
  width: 244px;
  height: 46px;
  line-height: 44px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'lb', Arial, sans-serif;
  color: #fff;
  text-align: center;
  background-color: #ad0023;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 50px;
  cursor: pointer;

  &:hover{
    background-color:  #ad0023;
  }
}

.def-form{
  border: 4px solid #ACACAC;
  border-radius: 10px;
  background-color: #fff;
  padding: 39px 7px 60px;
  width: 290px;
  margin: 0 auto;

  P{
    font-size: 16px;
    line-height: 1;
    text-align: center;
    margin-bottom: 45px;

    span{
      color: #ad0023;
      font-size: 16px;
      line-height: 1;
      font-family: 'lb', Arial, sans-serif;
    }
  }

  input{
    width: 245px;
    height: 40px;
    font-size: 16px;
    margin: 0 auto 18px;
    border-radius: 30px;
    padding: 0 0 0 25px;
    border: 1px solid #ACACAC;
    outline: none;
    display: block;

    &:nth-child(3){
      margin-bottom: 18px;
    }

    &[type="submit"]{
      margin-bottom: 0;
      padding-left: 0;
      text-align: center;
      line-height: 38px;
    }
  }

  &.submitted{
    position: relative;

    &::before{
      display: block;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #fff;
      z-index: 1;
      background-image: url('./files/imgs/submitted.png');
      background-position: center 60%;
      background-repeat: no-repeat;
    }

    &::after{
      content: 'Заявка успешно отправлена!';
      position: absolute;
      left: 0;
      right: 0;
      top: 100px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      z-index: 1;
      color: #000;
      font-size: 22px;
      font-family: 'lb', Arial, sans-serif;
    }
    
  }
}

@media screen
and (min-width: 768px){

  .def-title{
    font-size: 38px;
    margin-bottom: 50px;
  }

  .def-button{
    width: 345px;
    line-height: 62px;
    height: 64px;
    font-size: 22px;
  }

  .def-form{
    width: 505px;
    padding: 60px 68px 60px;
    background-color: #F9F9F9;

    p{
      font-size: 18px;
      margin-bottom: 50px;

      span{
        font-size: 18px;
      }
    }

    input{
      height: 56px;
      padding-left: 57px;
      width: 424px;
      font-size: 16px;
      margin-bottom: 16px;

      &:nth-child(3){
        margin-bottom: 16px;
      }

      &[type="submit"]{
        margin-bottom: 0;
      }
    }
  }
}

@media screen
and (min-width: 1200px){

  .def-title{
    font-size: 45px;
    margin-bottom: 70px;
  }

  .def-button{

  }

  .def-form{
    max-width: 100%;

    p{
      font-size: 22px;

      span{
        font-size: 22px;
      }
    }

    input{

      &[type="submit"]{
        font-size: 22px;
      }
    }
  }
}


@media screen
and (min-width: 1200px){

  .goods__item-cont, .goods-popup-content{
    overflow-y: scroll;
    scrollbar-color: #5C5C5C transparent;

    &::-webkit-scrollbar-button {
      background-image:url('');
      background-repeat:no-repeat;
      width:5px;
      height:0px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0px;
      border-radius: 0px;
      background-color: #5C5C5C;
    }
    &::-webkit-scrollbar-thumb:hover{
      background-color: #4B4B4B;
    }
    &::-webkit-resizer{
      background-image:url('');
      background-repeat:no-repeat;
      width:4px;
      height:0px
    }
    &::-webkit-scrollbar{
      width: 5px;
    }
  }
}


@media screen and (min-width: 320px) and (max-width: 768px){

  .goods .container{
    max-width: 500px;
  }
}











